﻿
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 ok text-center" style="display:none">
        <img src="/content/images/check.gif" style="height:50%" />
        <div class="col-md-12 pt-2">Tavsiyeniz için teşekkür ederiz</div>
    </div>
    <div class="col-md-12 advice">
        <form class="needs-validation col-md-12">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Fikir ve Tavsiyeniz: *</label>
                        <textarea class="form-control" style="line-height:20px; height:200px;" name="AdviceExp" id="AdviceExp" autocomplete="off" required></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 left">
                <button type="button" id="adv-btn" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adv-btn").click(function () {
            if ($("#AdviceExp").val() == "") {
                alert("Lütfen fikir ve tavsiyenizi yazınız.");
                $("#AdviceExp").focus();
            }
            else {
                $.ajax({
                    type: "Post",
                    data: { "AdviceExp": $("#AdviceExp").val() },
                    url: "/Customer/Advice",
                    success: function (response) {
                        if (response == "1") {
                            $(".advice").remove();
                            $(".ok").show();
                            setTimeout('$(".modal").modal("hide")', 5000);
                        }
                    }
                });
            }
        });
    });
</script>