﻿
@{
    ViewBag.Title = "| Şifremi Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Şifremi Değiştir</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <form method="post" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="OldPassword">Mevcut Şifreniz:</label>
                            <input type="Password" class="form-control" name="OldPassword" id="OldPassword" autocomplete="off" required>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="NewPassword">Yeni Şifreniz:</label>
                                <input type="Password" class="form-control" name="NewPassword" id="NewPassword" autocomplete="off" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="ConfirmNewPassword">Tekrar Şifreniz:</label>
                                <input type="Password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Customer/Dashboard'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

