﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Customer"; //menu-open
    ViewBag.Link = "dashboard"; //active
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                @foreach (var item in Model.M_STATUS)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="iq-card">
                            <div class="iq-card-body iq-bg-primary rounded">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="rounded-circle iq-card-icon bg-primary"><img class="rounded-circle" src="~/Content/images/process/@(item.StatuCode).png" /></div>
                                    <div class="text-right">
                                        <h5 class="">@item.StatuName</h5>
                                        <h2 class="mb-0"><span class="counter">@item.T_FILES.Where(t => t.CreaterCustomerId == Model.CurrCustId).Count()</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Son İşlem Yapılan 15 Dosya</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Adı Soyadı</th>
                                            <th>İş Kolu</th>
                                            <th>Branş Adı</th>
                                            <th>Statü</th>
                                            <th>Kayıt Tarihi</th>
                                            <th>Güncelleme Tarihi</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.M_FILES.OrderByDescending(t => t.UpdateDate).Take(15))
                                        {
                                            <tr>
                                                <td>@System.Text.RegularExpressions.Regex.Replace(item.PatientName, @"[a-z,ğ,ç,ş,ü]", m => "*")</td>
                                                <td>@item.T_SECTOR.Sector</td>
                                                <td>@item.T_BRANCH.BranchName</td>
                                                <td>@item.T_STATUS.StatuName</td>
                                                <td>@item.CreateDate</td>
                                                <td>@item.UpdateDate</td>
                                                <td><a href="/Customer/FilesDetails/@item.Id">Dosya Detay</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Adı Soyadı</th>
                                            <th>İş Kolu</th>
                                            <th>Branş Adı</th>
                                            <th>Statü</th>
                                            <th>Kayıt Tarihi</th>
                                            <th>Güncelleme Tarihi</th>
                                            <th>#</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>
