﻿@model IkinciGorus.Models._Model
@{
    ViewBag.Title = "| Kapalı Dosyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "files";
    ViewBag.Link = "filesclosed";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Kapalı Dosyalar</h4>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.M_FILES)
        {
            <div class="col-sm-6 col-md-3" data-toggle="tooltip" title="@(item.IsCancel == true ? "Dosya iptal edildi" : item.T_STATUS.StatuName)">
                <div class="iq-card">
                    <div class="iq-card-body text-center">
                        @if (item.IsCancel == true)
                        {
                            <i class="ri-file-forbid-fill statu" title="Dosya iptal edildi"></i>
                        }
                        <div class="doc-profile">
                            <img class="rounded-circle img-fluid" src="~/Content/images/process/@(item.T_STATUS.StatuCode).png">
                        </div>
                        <div class="iq-doc-info mt-3 mb-3">
                            <h4>@item.Id</h4>
                            <p class="mb-0">@item.PatientName</p>
                            <p class="mb-0">@item.InstitutionPatientId</p>
                            <p class="mb-0">@item.T_SECTOR.Sector</p>
                            <p class="mb-0">@item.T_BRANCH.BranchName</p>
                            <p class="mb-0">@Convert.ToDateTime(item.CreateDate).ToString("dd MMMM yyyy")</p>
                        </div>
                        <a href="/Customer/FilesDetails/@item.Id" class="btn btn-primary">Dosya Detay</a>
                    </div>
                </div>
            </div>
        }
        @if (Model.M_FILES.Count == 0)
        {
            <div class="col-sm-12">
                <div class="iq-card-header-top">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title col-sm-12">
                            <h6 class="card-title text-center color-red">Kapalı dosyanız bulunmamaktadır.</h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


