﻿@model IkinciGorus.Models._Model

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial;
            font-size:14px;
        }

        .body td {
            padding: 15px;
            border: 1px solid rgba(13, 181, 200, 1);
        }
    </style>
</head>
<body style="background: linear-gradient(to right, rgba(8, 155, 171, 1) 0%, rgba(13, 181, 200, 1) 100%);">
    <table width="100%">
        <tr>
            <td align="center">
                <table width="50%">
                    <tr><td align="center"><img src="/content/images/logo-white.png" style="width: 200px;" alt="logo" /></td></tr>
                </table>
                <table width="50%" class="body" style="background: #eff7f8;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" style="padding: 10px 0 0 10px">
                            <h3 style="padding-bottom: 10px;">@Model.M_FILE.Id Nolu Dosya Detayı</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Sayın <b>@Model.M_FILE.T_CUSTOMER.TitleName</b>,<br />Şirketimize <b>@Model.M_FILE.Id</b> kayıt numarası ile gönderdiğiniz <b>@Model.M_FILE.PatientName</b> ait <b>@Model.M_FILE.T_SECTOR.Sector</b> dosyası uzmanımız tarafından ikinci bir gözle detaylı incelenmiştir.<br /> Uzmanımızın görüşünü arz ederiz.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@Model.M_SECTORLABEL.Rows[4].ItemArray[1]: </label>
                            <span id="patientname_span">@Model.M_FILE.PatientName</span>
                        </td>
                        <td>
                            <label>@Model.M_SECTORLABEL.Rows[5].ItemArray[1]: </label>
                            <span id="institutionpatientid_span">@Model.M_FILE.InstitutionPatientId</span>
                        </td>
                    </tr>
                    <tr>
                        @if (Model.SectorId == 2)
                        {
                            <td>
                                <label>@Model.M_SECTORLABEL.Rows[6].ItemArray[1]: </label>
                                <span id="hospitalid_span">@Model.M_FILE.T_HOSPITAL.TitleName</span>
                            </td>
                        }
                        <td>
                            <label>@Model.M_SECTORLABEL.Rows[7].ItemArray[1]: </label>
                            <span id="branchfileid_span">@Model.M_FILE.T_BRANCH.BranchName</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@Model.M_SECTORLABEL.Rows[8].ItemArray[1]: </label>
                            <span id="demandamount_span">@string.Format("{0:N2}", Model.M_FILE.DemandAmount) ₺</span>
                        </td>
                        <td>
                            <label>@Model.M_SECTORLABEL.Rows[11].ItemArray[1]: </label>
                            <span id="filecargo_span">@(Model.M_FILE.FileCargo == true ? "Var" : "Yok")</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>@Model.M_SECTORLABEL.Rows[9].ItemArray[1]: </label><br />
                            <span id="filedescription_span">@Html.Raw(Model.M_FILE.FileDescription.Replace("\r\n", "<br />"))</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>@Model.M_SECTORLABEL.Rows[10].ItemArray[1]: </label><br />
                            <span id="contents_span">
                                @foreach (var item in Model.M_DOCUMENTS)
                                {
                                    <a href="/Customer/DownloadFile/@item.Id">@item.ContentName</a><br />
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>@Model.M_SECTORLABEL.Rows[12].ItemArray[1]: </label><br />
                            <span id="filedescription_span">@Html.Raw(Model.M_FILE.DoctorDescription == null ? Model.M_FILE.DoctorDescription : Model.M_FILE.DoctorDescription.Replace("\r\n", "<br />"))</span>
                        </td>
                    </tr>
                </table>
                <table width="50%" height="70px" style="color:#ffffff">
                    <tr>
                        <td align="center">Levent / İstanbul</td>
                        <td align="center">0 (212) 658 8989</td>
                        <td align="center">www.ikincigoz.com</td>
                        <td align="center">info@@ikincigoz.com</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
