﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Yeni Dosya";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "files";
    ViewBag.Link = "filesnew";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Yeni Dosya Açma</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <div class="stepwizard mt-4">
                        <div class="stepwizard-row setup-panel">
                            <div id="user" class="wizard-step active">
                                <a href="#user-detail" class="active btn">
                                    <i class="ri-user-line"></i><span>@Model.M_SECTORLABEL.Rows[0].ItemArray[1]</span>
                                </a>
                            </div>
                            <div id="document" class="wizard-step">
                                <a href="#document-detail" class="btn btn-default disabled">
                                    <i class="ri-question-fill"></i><span>@Model.M_SECTORLABEL.Rows[1].ItemArray[1]</span>
                                </a>
                            </div>
                            <div id="bank" class="wizard-step">
                                <a href="#bank-detail" class="btn btn-default disabled">
                                    <i class="ri-file-fill"></i><span>@Model.M_SECTORLABEL.Rows[2].ItemArray[1]</span>
                                </a>
                            </div>
                            <div id="confirm" class="wizard-step">
                                <a href="#cpnfirm-data" class="btn btn-default disabled">
                                    <i class="ri-check-fill"></i><span>@Model.M_SECTORLABEL.Rows[3].ItemArray[1]</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form class="form" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row setup-content" id="user-detail">
                            <div class="col-sm-12">
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[4].ItemArray[1]: *</label>
                                            <input type="text" class="form-control" name="patientname" id="patientname" autocomplete="off" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[5].ItemArray[1]: *</label>
                                            <input type="text" class="form-control" name="institutionpatientid" id="institutionpatientid" autocomplete="off" required />
                                        </div>
                                        @if (Model.SectorId == 2)
                                        {
                                            <div class="form-group col-md-6">
                                                <label>@Model.M_SECTORLABEL.Rows[6].ItemArray[1]: *</label>
                                                <select class="form-control" id="hospitalid" name="hospitalid" required="required">
                                                    <option value="">Seçiniz</option>
                                                    @foreach (var item in Model.M_HOSPITALS)
                                                    {
                                                        <option value="@item.Id">@item.TitleName</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[7].ItemArray[1]: *</label>
                                            <select class="form-control" id="branchfileid" name="branchfileid" required="required">
                                                <option value="">Seçiniz</option>
                                                @foreach (var item in Model.M_BRANCHS)
                                                {
                                                    <option value="@item.Id">@item.BranchName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary nextBtn action-button float-right" type="button">Sonraki</button>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="document-detail">
                            <div class="col-sm-12">
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label>@Model.M_SECTORLABEL.Rows[8].ItemArray[1]: *</label>
                                            <input type="text" class="form-control only-currency" name="demandamount" id="demandamount" autocomplete="off" required />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>@Model.M_SECTORLABEL.Rows[9].ItemArray[1]: *</label>
                                            <textarea class="form-control" style="line-height:20px; height:100px;" name="filedescription" id="filedescription" autocomplete="off" required></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary nextBtn action-button float-right" type="button">Sonraki</button>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="bank-detail">
                            <div class="col-sm-12">
                                <div class="col-md-12 p-0">
                                    <div class="form-group col-sm-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input multi" name="contents" id="contents">
                                        </div>
                                        <label class="custom-file-label" for="customFile">@Model.M_SECTORLABEL.Rows[10].ItemArray[1]</label>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input bg-primary" name="filecargo" id="filecargo" value="true">
                                            <label class="custom-control-label" for="filecargo"> @Model.M_SECTORLABEL.Rows[11].ItemArray[1]</label>
                                            <div class="mini-comment cargo-address" style="display:none">Kargonuzu bu adrese postalayabilirsiniz : <b>Levent / İstanbul</b></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="mini-comment">
                                            <br /> Gönderilen kargoların uzmanlarımıza ulaşması 5-7 iş günü içerisinde olmaktadır.
                                            <br /> Büyük boyuttaki dosyalarınızı aşağıdaki linkleri kullanarak yükleyebilir sonrasında Dosya Transfer Adresi alanına dosya linkini kopyalayabilirsiniz.
                                            <br /><a href="https://wetransfer.com/" target="_blank">We Transfer</a> --> 2GB ücretsiz
                                            <br /><a href="https://www.sendgb.com/" target="_blank">Send GB</a> --> 5GB ücretsiz
                                            <br /><a href="https://transfer.sh/" target="_blank">Transfer.sh</a> --> 10GB ücretsiz
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>@Model.M_SECTORLABEL.Rows[13].ItemArray[1]:</label>
                                        <input type="text" class="form-control" name="fileupload" id="fileupload" autocomplete="off" maxlength="250" />
                                    </div>

                                </div>
                                <button class="btn btn-primary nextBtn action-button float-right" type="button">Sonraki</button>
                            </div>
                        </div>
                        <div class="row setup-content" id="cpnfirm-data">
                            <div class="col-sm-12">
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[4].ItemArray[1]: </label>
                                            <span id="patientname_span"></span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[5].ItemArray[1]: </label>
                                            <span id="institutionpatientid_span"></span>
                                        </div>
                                        @if (Model.SectorId == 2)
                                        {
                                            <div class="form-group col-md-6">
                                                <label>@Model.M_SECTORLABEL.Rows[6].ItemArray[1]: </label>
                                                <span id="hospitalid_span"></span>
                                            </div>
                                        }
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[7].ItemArray[1]: </label>
                                            <span id="branchfileid_span"></span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[8].ItemArray[1]: </label>
                                            <span id="demandamount_span"></span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[11].ItemArray[1]: </label>
                                            <span id="filecargo_span"></span>
                                        </div>

                                        <div class="form-group col-md-12 file-warn" style="display:none">
                                            <label>@Model.M_SECTORLABEL.Rows[13].ItemArray[1]: </label>
                                            <p><span id="fileupload_span"></span></p>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label>@Model.M_SECTORLABEL.Rows[9].ItemArray[1]: </label>
                                            <span id="filedescription_span"></span>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label>@Model.M_SECTORLABEL.Rows[10].ItemArray[1]: </label>
                                            <span id="contents_span"></span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary action-button float-right file-save-btn" type="submit" onclick="return confirm('Dosyayı gönderilecek.\nDevam etmek istiyor musunuz ?')">Dosya Oluştur</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
