﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| İş Kolu Seçimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "files";
    ViewBag.Link = "filesnew";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">İş Kolu</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="iq-card">
                <div class="iq-card-body">
                    <p class="mb-4">Lütfen dosya oluşturukacak iş kolu seçiniz</p>
                    @foreach (var item in Model.M_SECTORS)
                    {
                        if (Model.M_CUSTOMER.CustomerSector.IndexOf(item.Id.ToString()) > -1)
                        {
                            <a href="/Customer/NewFiles/@item.Id" class="btn btn-primary btn-block">@item.Sector</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
