﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "İkinci Göz | Hata Oluştu";
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>İkinci Göz - Hata</title>
    <link rel="shortcut icon" href="/content/images/favicon.png" />
    @Styles.Render("~/Content/css")
    <script src="/content/js/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170153832-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170153832-2');
    </script>

</head>
<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-12 text-center">
                <div class="iq-error error-500">
                    <h1 class="text-primary">Hata</h1>
                    <!-- <img src="images/error/03.png" class="img-fluid iq-error-img" alt=""> -->
                    <h2 class="mb-0">Sayfa hata almış veya kaldırılmış olabilir.</h2>
                    <p></p>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary mt-3" href="#" onclick="window.history.back(1)"><i class="fa fa-arrow-left" aria-hidden="true"></i> Önceki Sayfa</a>
                        </div>
                        <div class="col-md-6 text-left">
                            <a class="btn btn-primary mt-3" href="/"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/js")
</body>
</html>

