﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>İkinci Göz | Şifremi Unuttum</title>
    <link rel="shortcut icon" href="/content/images/favicon.png" />
    @Styles.Render("~/Content/css")
    <script src="/content/js/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170153832-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170153832-2');
    </script>

</head>
<body>
    <!-- loader Start test ttt -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div class="container sign-in-page-bg mt-5 p-0">
            <div class="row no-gutters">
                <div class="col-md-6 text-center">
                    <div class="sign-in-detail text-white">
                        <a class="sign-in-logo mb-2" href="#"><img src="/content/images/logo-white.png" class="img-fluid" alt="logo"></a>
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                            <div class="item">
                                <img src="/content/images/login/1.png" class="img-fluid mb-4" alt="logo">
                                <h4 class="mb-1 text-white">Hasta Dosyaları</h4>
                                <p>Uygulanan tedavi yöntemi ve kullanılan malzemeler için <b>İkinci Göz</b></p>
                            </div>
                            <div class="item">
                                <img src="/content/images/login/2.png" class="img-fluid mb-4" alt="logo">
                                <h4 class="mb-1 text-white">Hasar Dosyaları</h4>
                                <p>Oto yada Konut poliçlerindeki hasarlar için <b>İkinci Göz</b></p>
                            </div>
                            <div class="item">
                                <img src="/content/images/login/3.png" class="img-fluid mb-4" alt="logo">
                                <h4 class="mb-1 text-white">Sözleşmeler</h4>
                                <p>Sözleşmelerde gizli kalmış, birgün sorun yaşayabileceğiniz noktalar için <b>İkinci Göz</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 position-relative">
                    <div class="sign-in-from">
                        <h2 class="mb-0">Şifremi Unuttum</h2>
                        <p>Lütfen sisteme kayıtlı e-mail adresinizi giriniz</p>
                        <p>@Html.Raw(ViewBag.message)</p>
                        <form class="mt-4" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="email">E-mail Adresi</label>
                                <a href="/Login" class="float-right">Giriş</a>
                                <input type="email" name="email" class="form-control mb-0" id="email" placeholder="E-mail adresinizi yazınız" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="captcha">Güvenlik Kodu</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="" id="imgCaptcha" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control only-numeric" name="captcha" id="captcha" maxlength="6" placeholder="Güvenlik kodu" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-inline-block w-100">
                                <button type="submit" id="submit" class="btn btn-primary float-right">Şifre Sıfırla</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#captcha").keypress(function (event) {
                if (event.keyCode == 13) {
                    $("#submit").click();
                }
            });
        });
    </script>
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/Content/captcha")
</body>
</html>