﻿
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">

        Hesabınıza giriş sifreniz size özeldir, kimseyle paylaşmayınız <br /><br />
        Şifrelerinizi yazılı olarak saklamayınız<br /><br />
        İkinci Göz erişimleri için güncel bir eposta hesabı kullanınız<br /><br />
        E-posta hesabınıza erişiminizi kaybetmeniz durumunda bildirimleri alamaz ve üye girişi yapamazsınız<br /><br />
        İkinci Göz, kullanıcı şifrelerini encrpted bir şekilde saklamaktadır<br /><br />
        Dosya adları / Hasta adları sistemimizde maskeli (A*** C***) şekilde saklanmaktadır.<br /><br />
        İkinci Göz sizden dosya açma sırasında sizden kişiel veri istememektedir.<br /><br />
        İkinci Göz kurumsal mail adresinden gelmeyen mailleri dikkate almayınız, cevap vermeyiniz<br /><br />
        <br />
    </div>
</div>
