﻿@model IkinciGorus.Models._Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>İkinci Göz | Üyelik Talebi / Bilgi Alma</title>
    <link rel="shortcut icon" href="/content/images/favicon.ico" />
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/css/responsive.css" rel="stylesheet" />
    <link href="/content/css/select2.min.css" rel="stylesheet" />
    <link href="/content/css/style.css" rel="stylesheet" />
    <link href="/content/css/typography.css" rel="stylesheet" />
    <script src="/content/js/jquery.min.js"></script>
    <script src="/content/js/jquery.maskedinput.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170153832-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170153832-2');
    </script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 pt-4">
                <div class="iq-card-header-top">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Üyelik Talebi / Bilgi Alma</h4>
                        </div>
                    </div>
                </div>
                <div class="iq-card">
                    <div class="iq-card-body">
                        @if (Model.Signup == 0)
                        {
                            <p class="color-red">@Html.Raw(ViewBag.ErrorMessage)</p>
                            <form class="needs-validation" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group col-md-12">
                                    <label for="name">Ad Soyad / Ünvan</label>
                                    <input type="text" class="form-control" id="name" name="name" autocomplete="off" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="phone">Telefon</label>
                                    <input type="tel" class="form-control only-phone" id="phone" name="phone" autocomplete="off" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="email">E-Mail</label>
                                    <input type="email" class="form-control" id="email" name="email" autocomplete="off" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="type">İletişim Tercihi</label>
                                    <select class="form-control" id="communicationchoice" name="communicationchoice" required>
                                        <option value="">Seçiniz</option>
                                        @for (int i = 0; i < Model.M_COMMUNICATIONCHOICE.Rows.Count; i++)
                                        {
                                            <option value="@Model.M_COMMUNICATIONCHOICE.Rows[i].ItemArray[0]">@Model.M_COMMUNICATIONCHOICE.Rows[i].ItemArray[2]</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="type">İş Kolu</label>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @foreach (var item in Model.M_SECTORS)
                                            {
                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input bg-primary" name="@item.InputName" id="@item.TagName" value="@item.Id">
                                                    <label class="custom-control-label" for="@item.TagName"> @item.Sector</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12 text-center pt-5">
                                    <img src="~/Content/images/check.gif" style="width:150px" />
                                </div>
                                <div class="col-md-12 text-center pt-5">
                                    Kaydınız alınmıştır.<br /><br />Teşekkür ederiz.
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".only-phone").mask("(999) 999 9999");
    </script>
</body>
</html>
