﻿.mt-6 {
    margin-top: 42px !important;
}

.text-center {
    text-align: center;
}

.color-red {
    color: #ff0000;
}

.statu {
    position: absolute;
    left: 40px;
    top: 30px;
    color: #099eaf;
}

.isfree {
    position: absolute;
    left: 40px;
    top: 50px;
    color: #099eaf;
}

ul.countdown {
    list-style: none;
    margin: -10px 0 0;
    padding: 0;
    display: block;
    text-align: center;
}

    ul.countdown li.count {
        display: inline-block;
    }

        ul.countdown li.count span {
            font-size: 12px;
            font-weight: 500;
            padding: 3px;
            background-color: #f5f5f5;
            color: #0caec0;
            border: solid 1px #e4e4e4;
        }

    ul.countdown li.seperator {
        font-size: 10px;
        /*line-height: 70px;*/
        vertical-align: top;
    }

    ul.countdown li.count p {
        color: #a7abb1;
        font-size: 10px;
    }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}