﻿<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="/Login/PrivacyPolicy" data-toggle="modal" class="btn-footer">Gizlilik Politikası</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="/Login/TermofUse" data-toggle="modal" class="btn-footer">Kullanım Şartları</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">İG</a> Her hakkı saklıdır.
            </div>
        </div>
    </div>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".btn-footer").click(function () {
                $("#modal .modal-title").html($(this).html());
                $("#modal").modal();
                load_page_h($(this).attr('href'));
            });

            function load_page_h(url) {
                $('#body').load(url, function () { });
            }
        });
    </script>
</footer>