﻿@model IkinciGorus.Models._Model

<div class="iq-top-navbar">
    <div class="iq-navbar-custom">
        <div class="iq-sidebar-logo">
            <div class="top-logo">
                <a href="" class="logo">
                    <img src="/content/images/logo-light.png" class="img-fluid" alt="">
                    <span>İkinci Göz</span>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-search-bar">
                <form class="searchbox">
                    <input type="text" class="text search-input" name="getSearch" id="getSearch" placeholder="Hızlı Dosya Arama">
                    <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="ri-menu-3-line"></i>
            </button>
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-list">
                    <li class="nav-item iq-full-screen">
                        <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="search-toggle iq-waves-effect">
                            <i class="ri-notification-3-fill"></i>
                            @if (Model.M_BROADCAST_FILES.Count > 0)
                            {
                                <span class="bg-danger dots" id="notification-dots"></span>
                            }
                        </a>
                        <div class="iq-sub-dropdown">
                            <div class="iq-card shadow-none m-0">
                                <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                        <h5 class="mb-0 text-white">Bildirimler<small class="badge  badge-light float-right pt-1"><span id="notification-count">@Model.M_BROADCAST_FILES.Count</span></small></h5>
                                    </div>
                                    <div id="notifications">
                                        @if (Model.M_BROADCAST_FILES.Count > 0)
                                        {
                                            foreach (var item in Model.M_BROADCAST_FILES)
                                            {
                                                <a href="/@Model.Controller/FilesDetails/@item.Id" class="iq-sub-card">
                                                    <div class="media align-items-center">
                                                        <div class="">
                                                            <img class="avatar-40 rounded" src="/Content/images/user/01.jpg" alt="">
                                                        </div>
                                                        <div class="media-body ml-3">
                                                            <h6 class="mb-0 ">@System.Text.RegularExpressions.Regex.Replace(item.PatientName, @"[a-z,ğ,ç,ş,ü]", m => "*")</h6>
                                                            <small class="float-right font-size-12">@item.CreateDate</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <div class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 text-center">Bildiriminiz yok</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="navbar-list">
                <li>
                    <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                        <img src="/content/images/user/@(Model.CurrGender == 0 ? "1.jpg" : "12.jpg")" class="img-fluid rounded mr-3" alt="user">
                        <div class="caption">
                            <h6 class="mb-0 line-height">@Model.CurrName</h6>
                            <span class="font-size-12" id="status-header">@Html.Raw(Model.Blocked == true ? "<span class='color-red'>Uygun Değil</span>" : "Uygun")</span>
                        </div>
                    </a>
                    <div class="iq-sub-dropdown iq-user-dropdown">
                        <div class="iq-card shadow-none m-0">
                            <div class="iq-card-body p-0 ">
                                <div class="bg-white p-3">
                                    <h5 class="mb-0 text-white"></h5>
                                </div>
                                @if (Model.CurrTitle == 1)
                                {
                                    <div class="d-inline-block w-100 text-center mt-3 p-3">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input blocked" name="blocked" id="blocked" ctrl="@Model.Controller" @(Model.Blocked == false ? "checked" : "")>
                                            <label class="custom-control-label" for="blocked" id="blocked-label">Yeni Dosya Alabilirim</label>
                                        </div>
                                    </div>
                                    <a href="/Expert/UserStatistics" data-toggle="modal" class="iq-sub-card iq-bg-primary-hover btnstat-modal" title="İstatistik">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-bar-chart-box-fill"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">İstatistik</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/Expert/EditProfile" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-profile-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Profilimi Güncelle</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/Expert/ChangePassword" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-lock-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Şifremi Değiştir</h6>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (Model.CurrTitle == 2)
                                {
                                    <a href="/Customer/CustomerSatisfaction" data-toggle="modal" class="iq-sub-card iq-bg-primary-hover btnstat-modal" title="İstatistik">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-bar-chart-box-fill"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">İstatistik</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/Customer/Advice" data-toggle="modal" class="iq-sub-card iq-bg-primary-hover btnstat-modal" title="Fikirleriniz ve Tavsiyeleriniz bizim için önemli">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-user-voice-fill"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Fikir ve Tavsiye</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/Customer/ChangePassword" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-lock-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Şifremi Değiştir</h6>
                                            </div>
                                        </div>
                                    </a>
                                }

                                <div class="d-inline-block w-100 text-center p-3">
                                    <a class="bg-primary iq-sign-btn" href="/Login/SignOut" role="button">Çıkış<i class="ri-login-box-line ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
