﻿@model IkinciGorus.Models._Model

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>İkinci Göz @ViewBag.title</title>
    <link rel="shortcut icon" href="/content/images/favicon.png" />
    @Styles.Render("~/Content/css")
    <script src="/content/js/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170153832-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170153832-2');
    </script>

</head>
<body>
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <div class="wrapper">
        @Html.Partial("_LeftMenu", Model)
        <div id="content-page" class="content-page">
            @Html.Partial("_Header", Model)
            @RenderBody()
            @Html.Partial("_Footer", Model)
        </div>
    </div>
    @Html.Partial("_Modal", Model)
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/Content/broadcast")
    @Scripts.Render("~/Content/countdown")
    @if (ViewBag.Page != null)
    {
        <script>
        $(document).ready(function () {
            $(".iq-sidebar-menu li").removeClass("menu-open");
            $(".iq-sidebar-menu li").removeClass("active");
            setTimeout('$("#@ViewBag.Page").addClass("active menu-open"); $("#@ViewBag.Page ul").addClass("menu-open"); $("#@ViewBag.Link").addClass("active");', 300);
        });
        </script>
    }
    <script>
        $(document).ready(function () {
            var options = {
                url: function (id) {
                    return "/@Model.Controller/getFileSearch/" + id;
                },
                getValue: "Id",
                template: {
                    type: "links",
                    fields: {
                        link: "Link"
                    }
                },
            };
            $("#getSearch").easyAutocomplete(options);
        });
    </script>
</body>
</html>