﻿@model IkinciGorus.Models._Model

<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="">
            <img src="/content/images/logo-light.png" class="img-fluid" alt="">
            <span>İkinci Göz</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            @if (Model.CurrTitle == 1)
            {
                <ul class="iq-menu">
                    <li id="dashboard">
                        <a href="/Expert/Dashboard" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Ana Sayfa</span></a>
                    </li>
                    <li id="filesclosed">
                        <a href="/Expert/FilesClosed"><i class="fa fa-times-circle"></i>Kapalı Dosyalar</a>
                    </li>
                    <li id="report">
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-file-chart-2-fill" aria-hidden="true"></i><span>Raporlar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li id="reportprogress"><a href="/Expert/ProgressPaymentReport"><i class="ri-file-list-fill" aria-hidden="true"></i>Hakediş Raporu</a></li>
                        </ul>
                    </li>
                </ul>
            }
            @if (Model.CurrTitle == 2)
            {
                <ul class="iq-menu">
                    <li id="dashboard">
                        <a href="/Customer/Dashboard" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Ana Sayfa</span></a>
                    </li>
                    <li id="files">
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-file-text" aria-hidden="true"></i><span>Dosyalar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li id="filesnew"><a href="/Customer/SelectSector"><i class="ri-edit-2-fill"></i>Yeni Dosya</a></li>
                            <li id="fileslist"><a href="/Customer/Files"><i class="fa fa-clock-o" aria-hidden="true"></i>Bekleyen Dosyalar</a></li>
                            <li id="filesclosed"><a href="/Customer/FilesClosed"><i class="fa fa-times-circle"></i>Kapalı Dosyalar</a></li>
                        </ul>
                    </li>
                    <li id="report">
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-file-chart-2-fill" aria-hidden="true"></i><span>Raporlar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li id="reportcost"><a href="/Customer/CostPaymentReport"><i class="ri-file-list-fill" aria-hidden="true"></i>Maliyet Raporu</a></li>
                        </ul>
                    </li>
                    @if (Model.CurrManage == true)
                    {
                        <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Parametreler</span></li>
                        <li id="user">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-user-md"></i><span>Kullanıcılar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="userlist"><a href="/Customer/Users"><i class="ri-file-list-fill"></i> Kullanıcı Listesi</a></li>
                                <li id="usernew"><a href="/Customer/NewUsers"><i class="ri-user-add-fill"></i> Yeni Kullanıcı</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            }
            @if (Model.CurrTitle == 3)
            {
                <ul class="iq-menu">
                    <li id="dashboard">
                        <a href="/Operator/Dashboard" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Ana Sayfa</span></a>
                    </li>
                    <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dosyalar</span></li>
                    <li id="files">
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-file-text" aria-hidden="true"></i><span>Dosyalar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li id="fileslist"><a href="/Operator/Files"><i class="fa fa-clock-o" aria-hidden="true"></i>Bekleyen Dosyalar</a></li>
                            <li id="filesclosed"><a href="/Operator/FilesClosed"><i class="fa fa-times-circle"></i>Kapanmış Dosyalar</a></li>
                            <li id="filesstatulist"><a href="/Operator/FileList"><i class="fa fa-refresh"></i>Dosya Statü Değişiklikleri</a></li>
                        </ul>
                    </li>
                    @if (Model.CurrCustomerOwner == true)
                    {
                        <li id="stakeholders">
                            <a href="/Operator/StakeholdersList" class="iq-waves-effect"><i class="ri-currency-fill"></i><span>Paydaş Kazanç Listesi</span></a>
                        </li>
                    }
                    @if (Model.CurrManage == true)
                    {
                        <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Rarporlar ve İstatistikler</span></li>
                        <li id="report">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-file-chart-2-fill" aria-hidden="true"></i><span>Raporlar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="reportprogress"><a href="/Operator/ProgressPaymentList"><i class="ri-file-list-fill" aria-hidden="true"></i>Uzman Hakediş Raporu</a></li>
                                <li id="reportcost"><a href="/Operator/CostPaymentList"><i class="ri-file-list-fill"></i>Müşteri Maliyet Raporu</a></li>
                            </ul>
                        </li>
                        <li id="statistics">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-file-chart-fill" aria-hidden="true"></i><span>İstatistik</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="ustatistics"><a href="/Operator/UserStatistics"><i class="ri-file-list-fill" aria-hidden="true"></i>Uzman İstatistikleri</a></li>
                                <li id="cstatistics"><a href="/Operator/CustomerStatistics"><i class="ri-file-list-fill"></i>Müşteri İstatistikleri</a></li>
                            </ul>
                        </li>
                        <li id="advice">
                            <a href="/Operator/Advice" class="iq-waves-effect"><i class="ri-user-voice-fill"></i><span>Tavsiye ve Fikirler</span></a>
                        </li>
                        <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Parametreler</span></li>
                        <li id="customer">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-users"></i><span>Müşteriler</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="customerlist"><a href="/Operator/Customers"><i class="ri-file-list-fill"></i> Müşteri Listesi</a></li>
                                <li id="customernew"><a href="/Operator/NewCustomers"><i class="ri-user-add-fill"></i> Yeni Müşteri</a></li>
                                <li id="newuserreq"><a href="/Operator/NewUserRequest"><i class="ri-user-search-fill"></i> Üyelik Talebi / Bilgi Alma</a></li>
                            </ul>
                        </li>
                        <li id="user">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-user-md"></i><span>Kullanıcılar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="userlist"><a href="/Operator/Users"><i class="ri-file-list-fill"></i> Kullanıcı Listesi</a></li>
                                <li id="usernew"><a href="/Operator/NewUsers"><i class="ri-user-add-fill"></i> Yeni Kullanıcı</a></li>
                            </ul>
                        </li>
                        <li id="hospital">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-hospital-o"></i><span>Hastaneler</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="hospitallist"><a href="/Operator/Hospitals"><i class="ri-file-list-fill"></i> Hastane Listesi</a></li>
                                <li id="hospitalnew"><a href="/Operator/NewHospitals"><i class="ri-user-add-fill"></i> Yeni Hastane</a></li>
                            </ul>
                        </li>
                        <li id="branch">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-stethoscope"></i><span>Branşlar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="branchlist"><a href="/Operator/Branchs"><i class="ri-file-list-fill"></i> Branş Listesi</a></li>
                                <li id="branchnew"><a href="/Operator/NewBranchs"><i class="ri-user-add-fill"></i> Yeni Branş</a></li>
                            </ul>
                        </li>
                        <li id="material">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-medkit"></i><span>Malzemeler</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="materiallist"><a href="/Operator/Materials"><i class="ri-file-list-fill"></i> Malzeme Listesi</a></li>
                                <li id="materialnew"><a href="/Operator/NewMaterials"><i class="ri-user-add-fill"></i> Yeni Malzeme</a></li>
                            </ul>
                        </li>
                        <li id="priceprotocol">
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="fa fa-handshake-o"></i><span>Fiyat Protokolleri</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li id="priceprotocollist"><a href="/Operator/PriceProtocols"><i class="ri-file-list-fill"></i> Fiyat Protokol Listesi</a></li>
                                <li id="priceprotocolnew"><a href="/Operator/NewPriceProtocols"><i class="ri-user-add-fill"></i> Yeni Fiyat Protokol</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            }
        </nav>
        <div class="p-3"></div>
    </div>
</div>
