﻿<div class="modal fade" id="istatistik-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btnstat-modal").click(function () {
            $("#istatistik-modal .modal-title").html($(this).attr("title"));
            $("#istatistik-modal").modal();
            load_page_s($(this).attr('href'));
        });

        function load_page_s(url) {
            $('#istatistik-modal #body').load(url, function () { });
        }
    });
</script>