﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Fikir ve Tavsiyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "advice";
    ViewBag.Link = "advice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Fikir ve Tavsiyeler</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Kullanıcı Adı Soyadı</th>
                                    <th>Firma</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_ADVICES)
                                {
                                    <tr>
                                        <td class="text-center">@Html.Raw(item.IsRead == true ? "<i class=\"ri-mail-check-line\"></i>" : "<i class=\"ri-mail-unread-fill\"></i>")</td>
                                        <td>@item.T_USER.Name</td>
                                        <td>@item.T_USER.T_CUSTOMER.TitleName</td>
                                        <td>@item.CreateDate</td>
                                        <td><a href="/Operator/EditAdvice/@item.Id">Detay</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Kullanıcı Adı Soyadı</th>
                                    <th>Firma</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Detay</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

