﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Branşlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "branch"; //menu-open
    ViewBag.Link = "branchlist"; //active
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Branşlar</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>İş Kolu</th>
                                    <th>Branş Adı</th>
                                    <th>İncele</th>
                                    <th>Düzelt</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_BRANCHS)
                                {
                                <tr>
                                    <td>@item.T_SECTOR.Sector</td>
                                    <td>@item.BranchName</td>
                                    <td><a href="/Operator/ViewBranch/@item.Id">İncele</a></td>
                                    @if (item.Status == 0)
                                    {
                                        <td></td>
                                        <td>Silindi</td>
                                    }
                                    else
                                    {
                                        <td><a href="/Operator/EditBranchs/@item.Id">Düzelt</a></td>
                                        <td><a href="/Operator/DeleteBranchs/@item.Id" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz ?')">Sil</a></td>
                                    }
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>İş Kolu</th>
                                    <th>Branş Adı</th>
                                    <th>İncele</th>
                                    <th>Düzelt</th>
                                    <th>Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

