﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Müşteri Maliyet Raporu Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "report";
    ViewBag.Link = "reportcost";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Müşteri Maliyet Raporu Listesi</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">

            <label for="term">Dönem : </label>
            <input type="month" id="term" name="term" onchange="window.location.href = '/Operator/CostPaymentList/' + document.getElementById('term').value" min="2020-06" value="@Model.term" max="2023-12">
        </div>

        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Ünvan</th>
                                    <th>Toplam Maliyet</th>
                                    <th>Raporu GÖrüntüle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_CUSTOMERS)
                                {
                                    <tr>
                                        <td>@item.TitleName</td>
                                        <td>@item.T_FILES.Where(t => t.Status == 7 && t.IsFree == false && t.IsCancel == false && (Model.term == null ? 1 == 1 : t.UpdateDate.Value.ToString("yyyy-MM") == Model.term)).Sum(t => t.Price1)</td>
                                        <td><a href="/Operator/CostPaymentReport/@item.Id">Görüntüle</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Ünvan</th>
                                    <th>Toplam Maliyet</th>
                                    <th>Raporu GÖrüntüle</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>




