﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "customer"; //menu-open
    ViewBag.Link = "customerlist"; //active
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Müşteriler</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Müşteri Ünvan</th>
                                    <th>Şehir</th>
                                    <th>Telefon</th>
                                    <th>E-Mail</th>
                                    @if (Model.CurrCustomerOwner == true)
                                    {
                                        <th>Ortaklar</th>
                                    }
                                    <th>İncele</th>
                                    <th>Düzelt</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_CUSTOMERS)
                                {
                                    <tr>
                                        <td>@item.TitleName</td>
                                        <td>@item.T_CITY.CityName</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td><a href="/Operator/CustomerOwner/@item.Id" data-toggle="modal" class="btn-modal" id="@item.Id">Ortaklar</a></td>
                                        <td><a href="/Operator/ViewCustomer/@item.Id">İncele</a></td>
                                        @if (item.Status == 0)
                                        {
                                            <td></td>
                                            <td>Silindi</td>
                                        }
                                        else
                                        {
                                            <td><a href="/Operator/EditCustomers/@item.Id">Düzelt</a></td>
                                            <td><a href="/Operator/DeleteCustomers/@item.Id" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz ?')">Sil</a></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Adı</th>
                                    <th>Şehir</th>
                                    <th>Telefon</th>
                                    <th>E-Mail</th>
                                    @if (Model.CurrCustomerOwner == true)
                                    {
                                        <th>Ortaklar</th>
                                    }
                                    <th>İncele</th>
                                    <th>Düzelt</th>
                                    <th>Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="statu-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Paydaşlar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });

        $(".btn-modal").click(function () {
            $("#statu-modal").modal();
            load_page($(this).attr('href'));
        });

        function load_page(url) {
            $('#body').load(url, function () { });
        }
    });
</script>

