﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Müşteri İstatistiği";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "statistics";
    ViewBag.Link = "cstatistics";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Müşteri İstatistiği</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Müşteri Ünvan</th>
                                    <th>Müşteri Memnuniyeti</th>
                                    <th>Kapattığı Dosya Sayısı</th>
                                    <th>Verdiği Ortalama Puan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_CUSTOMER_STATS)
                                {
                                    <tr>
                                        <td>@item.T_CUSTOMER.TitleName</td>
                                        <td>
                                            <div class="col-md-12 rating-row" style="width:330px; height: 45px;">
                                                <table>
                                                    <tr>
                                                        @for (int i = 1; i <= 10; i++)
                                                        {
                                                            if (item.ClosedFileCount > 0 && (item.TotalRating / item.ClosedFileCount) >= i)
                                                            {
                                                                var color = "#ff0000";
                                                                if (i == 2) { color = "#ff4000"; }
                                                                if (i == 3) { color = "#ff8000"; }
                                                                if (i == 4) { color = "#ffbf00"; }
                                                                if (i == 5) { color = "#ffff00"; }
                                                                if (i == 6) { color = "#bfff00"; }
                                                                if (i == 7) { color = "#80ff00"; }
                                                                if (i == 8) { color = "#40ff00"; }
                                                                if (i == 9) { color = "#00ff00"; }
                                                                if (i == 10) { color = "#00ff40"; }

                                                                <td style="background-color:@color">@i</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@i</td>
                                                            }

                                                        }
                                                    </tr>
                                                </table>

                                                <!--
                                                <div class="rating" style="height:32px">
                                                    @for (int i = 10; i > 0; i--)
                                                    {
                                                        <input type="radio" name="rating" value="@i" @(((item.ClosedFileCount > 0) && item.TotalRating / item.ClosedFileCount == i) ? "checked" : "") disabled><label for="rate_@i" style="margin-bottom:0; height:30px">@i</label>
                                                    }
                                                </div>
                                                    -->
                                            </div>
                                        </td>
                                        <td class="font-size-16 text-center">@item.ClosedFileCount</td>
                                        @if (item.ClosedFileCount > 0)
                                        {
                                            <td class="font-size-16 text-center">@(item.TotalRating / item.ClosedFileCount)</td>
                                        }
                                        else
                                        {
                                            <td class="font-size-16 text-center">0</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Müşteri Ünvan</th>
                                    <th>Müşteri Memnuniyeti</th>
                                    <th>Kapattığı Dosya Sayısı</th>
                                    <th>Verdiği Ortalama Puan</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

