﻿@model IkinciGorus.Models._Model

@{
    Layout = null;
}

<div class="row add-owner mb-2" style="display:none">
    <div class="col">
        <select class="form-control owneruserid" name="owneruserid" required>
            <option value="">Seçiniz</option>
            @foreach (var item2 in Model.M_USERS)
            {
                <option value="@item2.Id">@item2.Name</option>
            }
        </select>
    </div>
    <div class="col">
        <input type="number" class="form-control ownerrate" name="ownerrate" autocomplete="off" min="0" max="100" />
    </div>
    <div class="col">
        <button type="button" name="addbtn" class="btn btn-primary add-owner-btn">+</button>
        <button type="button" name="removebtn" class="btn btn-primary remove-owner-btn">-</button>
    </div>
</div>

<div class="row">
    <form class="needs-validation col-md-12" method="post" action="/Operator/CustomerOwner" id="customerowner" novalidate>
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <input type="hidden" name="ownercustomerid" id="ownercustomerid" value="@Model.M_CUSTOMER.Id" />
            <input type="hidden" name="button" id="button" />
            <div class="row">
                <div class="col-md-12">
                    <label for="type">Müşteri</label> : @Model.M_CUSTOMER.TitleName
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label for="owneruserid">Paydaşlar</label>
                </div>
                <div class="col">
                    <label for="ownerrate">Pay (%)</label>
                </div>
                <div class="col">
                    <label for="add-owner">Ekle</label>
                </div>
            </div>
            <div id="container">
                @if (Model.M_CUSTOMER_OWNERS.Count > 0)
                {
                    var i = 0;
                    foreach (var item in Model.M_CUSTOMER_OWNERS)
                    {
                        <input type="hidden" name="id" value="@item.Id" />
                        <div class="row new-owner mb-2">
                            <div class="col">
                                <select class="form-control" name="owneruserid" disabled required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item2 in Model.M_USERS)
                                    {
                                        if (item2.Id == item.OwnerUserId)
                                        {
                                            <option value="@item2.Id" selected>@item2.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item2.Id">@item2.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control ownerrate" name="ownerrate" autocomplete="off" value="@item.OwnerRate" min="0" max="100" />
                            </div>
                            <div class="col">
                                <button type="button" name="addbtn" value="@item.Id" class="btn btn-primary add-owner-btn">+</button>
                                <button type="button" name="removebtn" value="@item.Id" class="btn btn-primary remove-owner-btn">-</button>
                            </div>
                        </div>
                        i++;
                    }
                }
                else
                {
                    <div class="row new-owner mb-2">
                        <div class="col">
                            <select class="form-control" name="owneruserid" required>
                                <option value="">Seçiniz</option>
                                @foreach (var item2 in Model.M_USERS)
                                {
                                    <option value="@item2.Id">@item2.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control ownerrate" name="ownerrate" autocomplete="off" min="0" max="100" />
                        </div>
                        <div class="col">
                            <button type="button" name="addbtn" class="btn btn-primary add-owner-btn">+</button>
                            <button type="button" name="removebtn" class="btn btn-primary remove-owner-btn">-</button>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-md-12 modal-footer">
            <button type="button" id="btn-delete" class="btn btn-danger">Paylamayı Sil</button>
            <button type="button" id="btn-save" class="btn btn-primary">Kaydet</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#btn-save").click(function () {
            var sum = 0;
            $('.ownerrate').each(function () {
                sum += Number($(this).val());
            });

            if (sum < 100 || sum > 100) {
                alert("100 e tamamla. Kalan : " + (100 - sum));
                return false;
            }
            else {
                $("#button").val("add");
                $("select option").prop('disabled', false);
                $("select").prop('disabled', false);
                $("#customerowner").submit();
            }
        });

        $("#btn-delete").click(function () {
            $("#button").val("remove");
            if (confirm("Bütün paylamayı silmek istiyor musunuz ?")) {
                $("#customerowner").submit();
            }
        });

        $("#container").on("change", "select", function () {
            $("option[value=" + $(this).val() + "]").attr("disabled", "disabled");
        });

        $("#container").on("click", ".add-owner-btn", function () {
            $(".add-owner").clone().appendTo("#container:last");
            $("input:last").val("");
            $(".add-owner:last").addClass("new-owner").removeClass("add-owner");
            $(".remove-owner-btn").show();
            $("select:last").prop('disabled', false);
            $(".new-owner:last").removeAttr("style");
        });

        $("#container").on("click", ".remove-owner-btn", function () {
            if ($(".new-owner").length == 1) {
                alert("Daha fazla silemezsiniz");
                return false;
            }

            if (confirm("Paydaş silmek istiyor musunuz ?")) {
                $(this).closest(".new-owner").remove();
                $.ajax({
                    type: "Post",
                    url: "/Operator/DeleteCustomerOwner?id=" + $(this).val(),
                    success: function (response) {
                        //alert(response);
                    }
                });
            }
        });

        /*
        $("#container .add-owner-btn").click(function () {
            $(".new-owner").clone().insertAfter(".new-owner:last");
        });

        $('#container .remove-owner-btn').on('click', '.new-owner', function () {
            $(this).parent().remove();
        });
        */
    });
</script>

