﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Fiyat Protokolu Düzelt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "priceprotocol";
    ViewBag.Link = "priceprotocolcorrect";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Fiyat Protokolu Düzelt</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>*@
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Model.M_PRICEPROTOCOL.Id" />
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="priprotsectorid">İş Kolu</label>
                                <select class="form-control" id="priprotsectorid" name="priprotsectorid" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_SECTORS)
                                    {
                                        if (item.Id == Model.M_PRICEPROTOCOL.PriProtSectorId)
                                        {
                                            <option value="@item.Id" selected>@item.Sector</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Sector</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="protocolname">Fiyat Politika Adı</label>
                                <input type="text" class="form-control" id="protocolname" name="protocolname" value="@Model.M_PRICEPROTOCOL.ProtocolName" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="calculationtypeid">Hesaplama Tipi</label>
                                <select class="form-control" id="calculationtypeid" name="calculationtypeid" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_PRICEPROCCALCTYPES)
                                    {
                                        if (item.Id == Model.M_PRICEPROTOCOL.CalculationTypeId)
                                        {
                                            <option value="@item.Id" selected>@item.CalcTypeName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.CalcTypeName</option>
                                        }
                                    }
                                    @*<option value="1" @(Model.M_PRICEPROTOCOL.CalculationType == 1 ? "selected" : "")>HUV</option>
                                    <option value="2" @(Model.M_PRICEPROTOCOL.CalculationType == 2 ? "selected" : "")>SUT</option>
                                    <option value="3" @(Model.M_PRICEPROTOCOL.CalculationType == 3 ? "selected" : "")>TTB</option>
                                    <option value="4" @(Model.M_PRICEPROTOCOL.CalculationType == 4 ? "selected" : "")>Serbest</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="unitprice">Birim Fiyatı</label>
                                <input type="text" class="form-control only-numeric" id="unitprice" name="unitprice" value="@Model.M_PRICEPROTOCOL.UnitPrice" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="validitydate">Geçerlilik Tarihi</label>
                                <input type="text" class="form-control only-date" id="validitydate" name="validitydate" value="@Convert.ToDateTime(Model.M_PRICEPROTOCOL.ValidityDate).ToString("dd.MM.yyyy")" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="status">Durum</label>
                                <select class="form-control" id="status" name="status" required>
                                    <option value="1" @(Model.M_PRICEPROTOCOL.Status == 1 ? "selected" : "")>Aktif</option>
                                    <option value="0" @(Model.M_PRICEPROTOCOL.Status == 0 ? "selected" : "")>Pasif</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.history.back(1)" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>