﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Fikir ve Tavsiyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "advice";
    ViewBag.Link = "advice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Fikir ve Tavsiyeler Detay</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Model.M_ADVICE.Id" />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Name">Adı Soyadı</label>
                                @Model.M_ADVICE.T_USER.Name
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TitleName">Firma</label>
                                @Model.M_ADVICE.T_USER.T_CUSTOMER.TitleName
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="AdviceExp">Fikir ve Tavsiye</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Raw(Model.M_ADVICE.AdviceExp)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="OperatorExp">Operator Notları</label>
                                <textarea class="form-control" style="line-height:20px; height:100px;" name="OperatorExp" id="OperatorExp" autocomplete="off" required>@Model.M_ADVICE.OperatorExp</textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.history.back()" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

