﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Branş Düzelt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "branch";
    ViewBag.Link = "branchcorrect";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Branş Düzelt</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>*@
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Model.M_BRANCH.Id" />
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="branchsectorid">İş Kolu</label>
                                <select class="form-control" id="branchsectorid" name="branchsectorid" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_SECTORS)
                                    {
                                        if (item.Id == Model.M_BRANCH.BranchSectorId)
                                        {
                                            <option value="@item.Id" selected>@item.Sector</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Sector</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Branş Adı</label>
                                <input type="text" class="form-control" id="branchname" name="branchname" value="@Model.M_BRANCH.BranchName" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="status">Durum</label>
                                <select class="form-control" id="status" name="status" required>
                                    <option value="1" @(Model.M_BRANCH.Status == 1 ? "selected" : "")>Aktif</option>
                                    <option value="0" @(Model.M_BRANCH.Status == 0 ? "selected" : "")>Pasif</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/Branchs'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>