﻿@model IkinciGorus.Models._Model
@{
    ViewBag.Title = "| Bekleyen Dosyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "files";
    ViewBag.Link = "fileslist";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Bekleyen Dosyalar</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="iq-card-header-top mb-1">
                <div class="iq-card-header d-flex justify-content-between">
                    <div style="float:left; width:100%; padding-right:1%;"><a href="/Operator/Files" class="btn @(Model.activeBtn == null ? "btn-primary" : "btn-light") btn-block">Hepsi</a></div>
                    @foreach (var item in Model.M_SECTORS)
                    {
                        <div style="float:left; width:100%; padding-right:1%;"><a href="/Operator/Files/@item.Id" class="btn @(Model.activeBtn == ""+item.Id ? "btn-primary" : "btn-light") btn-block">@item.Sector</a></div>
                    }
                </div>
            </div>
        </div>

        @foreach (var item in Model.M_FILES)
        {
            <div class="col-sm-6 col-md-3" data-toggle="tooltip" title="@(item.RollBackFile == true ? "Dosya beklemeye alındı" : item.T_STATUS.StatuName)">
                <div class="iq-card" @(item.RollBackFile == true ? "style=background:#fad9d9;" : "")>
                    <div class="iq-card-body text-center">
                        @if (item.Status == 5)
                        {
                            if (item.FileWaiting == false)
                            {
                                <i class="fa fa-file-text statu" aria-hidden="true" title="Yeni Dosya"></i>
                            }
                            else
                            {
                                <i class="fa fa-floppy-o statu" aria-hidden="true" title="Dosya Kaydedilmiş"></i>
                            }
                        }
                        @if (item.IsFree == true)
                        {
                            <i class="fa fa-exclamation-circle isfree" aria-hidden="true" title="Ücret tahsil edilmeyecek"></i>
                        }
                        <div class="doc-profile">
                            <img class="rounded-circle img-fluid" src="~/Content/images/process/@(item.T_STATUS.StatuCode).png">
                        </div>
                        <div class="iq-doc-info mt-3 mb-3">
                            <h4>@item.Id</h4>
                            <p class="mb-0">@item.T_CUSTOMER.TitleName</p>
                            <p class="mb-0">@item.PatientName</p>
                            <p class="mb-0">@item.InstitutionPatientId</p>
                            <p class="mb-0">@item.T_SECTOR.Sector</p>
                            <p class="mb-0">@item.T_BRANCH.BranchName</p>
                            <p class="mb-0">@Convert.ToDateTime(item.CreateDate).ToString("dd MMMM yyyy")</p>
                        </div>
                        <a href="/Operator/FilesDetails/@item.Id" class="btn btn-primary">Dosya Detay</a>
                    </div>
                </div>
            </div>
        }
        @if (Model.M_FILES.Count == 0)
        {
            <div class="col-sm-12">
                <div class="iq-card-header-top">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title col-sm-12">
                            <h6 class="card-title text-center color-red">Bekleyen dosya bulunmamaktadır.</h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>