﻿@model IkinciGorus.Models._Model

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" name="id" id="id" value="@Model.M_FILE.Id" />
            <div class="form-group col-md-12">
                <label for="type">Statu</label>
                <select class="form-control" id="status" name="status" required>
                    @foreach (var item in Model.M_STATUS)
                    {
                        if (Model.M_FILE.T_STATUS.StatuCode == item.StatuCode)
                        {
                            <option value="@item.Id" selected>@item.StatuName</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.StatuName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-12 workinguserid">
                <label for="type">Uzman</label>
                <select class="form-control" id="workinguserid" name="workinguserid" required>
                    <option value="">Seçiniz</option>
                    @foreach (var item in Model.M_USERS)
                    {
                        if (Model.M_FILE.WorkingUserId == item.Id)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-6 pb-4">
        <ul class="iq-timeline pb-3">
            @foreach (var item in Model.M_STATUS)
            {
                <li>
                    @if (Model.M_FILE.T_STATUS.StatuCode >= item.StatuCode)
                    {
                        <div class="timeline-dots border-success"></div>
                        <h6 class="">@item.StatuName</h6>
                        <small class="mt-1"></small>
                    }
                    else
                    {
                        <div class="timeline-dots border-danger"></div>
                        <h6 class="">@item.StatuName</h6>
                        <small class="mt-1"></small>
                    }
                </li>
            }
        </ul>
    </div>
    <div class="col-md-12 modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ekranı Kapat</button>
        <button type="button" id="btn-save" class="btn btn-primary">Değişiklikleri Uygula</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#status").val() == "3")
            $(".workinguserid").show();
        else
            $(".workinguserid").hide();

        $("#status").change(function () {
            if ($(this).val() == "3")
                $(".workinguserid").show();
            else
                $(".workinguserid").hide();
        });

        $("#btn-save").click(function () {
            if ($("#status").val() == "3") {
                if ($("#workinguserid").val() == "") {
                    alert("Lütfen uzman seçiniz.");
                    return false;
                }
            }

            $.ajax({
                type: "Post",
                url: "/Operator/FileStatuChange?id=" + $("#id").val() + "&status=" + $("#status").val() + "&workinguserid=" + $("#workinguserid").val(),
                success: function (response) {
                    $(".statu_" + response.idx).html(response.statu);
                    $('#statu-modal').modal('hide');
                }
            });
        });
    });
</script>
