﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Dosya Statü Değişiklikleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "files";
    ViewBag.Link = "filesstatulist";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Dosya Statü Değişiklikleri</h4>
                    </div>
                </div>
                <div class="iq-card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adı Soyadı</th>
                                    <th>İş Kolu</th>
                                    <th>Branş Adı</th>
                                    <th>Statü</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Güncelleme Tarihi</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_FILES.OrderByDescending(t => t.UpdateDate))
                                {
                                    <tr @(item.RollBackFile == true ? "style=background:#fad9d9;" : "")>
                                        <td>@item.Id</td>
                                        <td>@System.Text.RegularExpressions.Regex.Replace(item.PatientName, @"[a-z,ğ,ç,ş,ü]", m => "*")</td>
                                        <td>@item.T_SECTOR.Sector</td>
                                        <td>@item.T_BRANCH.BranchName</td>
                                        <td class="statu_@item.Id">@item.T_STATUS.StatuName</td>
                                        <td>@item.CreateDate</td>
                                        <td>@item.UpdateDate</td>
                                        <td><a href="/Operator/FileStatuChange/@item.Id" data-toggle="modal" class="btn-modal" id="@item.Id">Statu Değiştir</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Adı Soyadı</th>
                                    <th>İş Kolu</th>
                                    <th>Branş Adı</th>
                                    <th>Statü</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Güncelleme Tarihi</th>
                                    <th>#</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="statu-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Dosya Statu Değişiklikleri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });

        $(".btn-modal").click(function () {
            $("#statu-modal").modal();
            load_page($(this).attr('href'));
        });

        function load_page(url) {
            $('#body').load(url, function () { });
        }
    });
</script>