﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Dosya Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "files";
    ViewBag.Link = Model.link;
}

<div class="container-fluid">
    <form class="needs-validation" method="post" novalidate>
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <div class="iq-card-header-top">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title col-md-12">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h4 class="card-title" style="padding-top: 5px;">@Model.M_FILE.Id Nolu Dosya Detayı (@Model.M_CUSTOMER.TitleName)</h4>
                                    </div>
                                    <div class="col-md-5" style="text-align:right">
                                        @if (Model.M_FILE.Status == 3)
                                        {
                                            <ul class="countdown" style="margin: 4px -62px -25px 49px;">
                                                <li class="count">
                                                    <span class="days_@Model.M_FILE.Id">00</span>
                                                    <p class="days_ref">Gn</p>
                                                </li>
                                                <li class="count">
                                                    <span class="hours_@Model.M_FILE.Id">00</span>
                                                    <p class="hours_ref">Sa</p>
                                                </li>
                                                <li class="count">
                                                    <span class="minutes_@Model.M_FILE.Id">00</span>
                                                    <p class="minutes_ref">Dk</p>
                                                </li>
                                                <li class="count">
                                                    <span class="seconds_@Model.M_FILE.Id">00</span>
                                                    <p class="seconds_ref">Sn</p>
                                                </li>
                                            </ul>
                                            <script>setInterval(function () { $.fn.makeTimer(new Date("@Convert.ToDateTime(Model.M_FILE.UpdateDate).AddDays(Model.M_FILE.T_CUSTOMER.ValorDay).ToString("M/d/yyyy HH:mm:ss") GMT+01:00"), @Model.M_FILE.Id) }, 1000);</script>
                                        }
                                        else if (Model.M_FILE.RollBackFile == true)
                                        {
                                            <span class="color-red">Dosya Beklemeye Alındı</span>
                                        }
                                        else if (Model.M_FILE.IsCancel == true)
                                        {
                                            <span class="color-red">Dosya İptal Edildi</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert bg-white alert-danger" id="info-message" role="alert" style="@(Model.M_FILE.IsFree == false ? "display:none" : "")">
                        <div class="iq-alert-text">Bu dosya için ücret tahsil edilmeyecektir.</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="col-md-12 p-0">
                                <div class="row">
                                  
                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[4].ItemArray[1]: </label>
                                        <span id="patientname_span">@Model.M_FILE.PatientName</span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[5].ItemArray[1]: </label>
                                        <span id="institutionpatientid_span">@Model.M_FILE.InstitutionPatientId</span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[6].ItemArray[1]: </label>
                                        <span id="hospitalid_span"> @(Model.M_FILE.FilesSectorId == 2 ? Model.M_FILE.T_HOSPITAL.TitleName : "")</span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[7].ItemArray[1]: </label>
                                        <span id="branchfileid_span">@Model.M_FILE.T_BRANCH.BranchName</span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[8].ItemArray[1]: </label>
                                        <span id="demandamount_span">@string.Format("{0:N2}", Model.M_FILE.DemandAmount) ₺</span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[11].ItemArray[1]: </label>
                                        <span id="filecargo_span">@(Model.M_FILE.FileCargo == true ? "Var" : "Yok")</span>
                                    </div>

                                    @if (Model.M_FILE.FileCargo == true)
                                    {
                                        <div class="form-group col-md-12 file-warn">
                                            <label>@Model.M_SECTORLABEL.Rows[13].ItemArray[1]: </label>
                                            <p><span id="fileupload_span"><a href="@Model.M_FILE.FileUpload" target="_blank">@Model.M_FILE.FileUpload</a></span></p>
                                        </div>
                                    }

                                    <div class="form-group col-md-12">
                                        <label>@Model.M_SECTORLABEL.Rows[9].ItemArray[1]: </label><br />
                                        <span id="filedescription_span">@Html.Raw(Model.M_FILE.FileDescription.Replace("\r\n", "<br>"))</span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>@Model.M_SECTORLABEL.Rows[10].ItemArray[1]: </label><br />
                                        <span id="contents_span">
                                            @foreach (var item in Model.M_DOCUMENTS)
                                            {
                                                <a href="/Operator/DownloadFile/@item.Id">@item.ContentName</a><br />
                                            }
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6 text-center">
                                        <div class="custom-control custom-checkbox custom-control-inline mt-6">
                                            <input type="checkbox" class="custom-control-input bg-primary" name="isfree" id="isfree" value="@Model.M_FILE.Id" @(Model.M_FILE.IsFree == true ? "checked" : "")>
                                            <label class="custom-control-label" for="isfree"> Ücretsiz</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.M_FILE.Status == 7)
                    {
                        <div class="iq-card" style="min-height: 0px;">
                            <div class="iq-card-body" style="min-height: 30px; padding-bottom: 5px;">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="color-red">Değerlendirilen Tutar: </label><br />
                                        <span id="evaluatedamount_span">@string.Format("{0:N2}", Model.M_FILE.EvaluatedAmount) ₺</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.M_FILE.Status == 5)
                    {
                        <div class="iq-card">
                            <div class="iq-card-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <label class="col-md-6">@Model.M_SECTORLABEL.Rows[12].ItemArray[1]: </label><label class="col-md-6" style="text-align:right"><a href="#" data-toggle="modal" data-target="#malzemeListesi">Malzeme Listesi</a></label>
                                        </div>
                                        <textarea class="form-control" style="line-height:20px; height:280px;" name="doctordescription" id="doctordescription" required="required">@Model.M_FILE.DoctorDescription</textarea>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-2">
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-primary" name="button" value="record">Kaydet & Kapat</button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button type="submit" class="btn btn-success" name="button" value="sender" onclick="return confirm('Dosyayı gönderilecek.\nDevam etmek istiyor musunuz ?')">Kaydet & Gönder</button>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button type="button" onclick="window.location.href = '/Operator/Files'" class="btn btn-danger">İptal</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    else if (Model.M_FILE.Status > 5)
                    {
                        <div class="iq-card">
                            <div class="iq-card-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>@Model.M_SECTORLABEL.Rows[12].ItemArray[1]: </label>
                                        <br />
                                        <span id="filedescription_span">@Html.Raw(Model.M_FILE.DoctorDescription == null ? Model.M_FILE.DoctorDescription : Model.M_FILE.DoctorDescription.Replace("\r\n", "<br>").Replace("\n\r", "<br>"))</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.M_FILE.Status == 7)
                    {
                        <div class="iq-card">
                            <div class="iq-card-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Dosya Değerlendirmesi : </label><br />
                                        <div class="rating" style="height:32px; width:285px;">
                                            @for (int i = 10; i > 0; i--)
                                            {
                                                if (Model.M_FILE.Rating == i)
                                                {
                                                    <input type="radio" name="rating" value="@i" checked disabled><label style="margin-bottom:0; height:30px">@i</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="rating" value="@i" disabled><label style="margin-bottom:0; height:30px">@i</label>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 pt-2 border-top">
                                        <span>@Html.Raw(Model.M_FILE.RatingDescription == null ? Model.M_FILE.RatingDescription : Model.M_FILE.RatingDescription.Replace("\r\n", "<br>").Replace("\n\r", "<br>"))</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-4">
                <div class="col-sm-12">
                    <div class="iq-card-header-top">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Döküman Tarihçesi</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <ul class="iq-timeline">
                                @foreach (var item in Model.M_STATUS)
                                {
                                    <li>
                                        @if (Model.M_FILE.T_STATUS.StatuCode >= item.StatuCode)
                                        {
                                            <div class="timeline-dots border-success"></div>
                                            <h6 class="">@item.StatuName</h6>
                                            <small class="mt-1"></small>
                                        }
                                        else
                                        {
                                            <div class="timeline-dots border-danger"></div>
                                            <h6 class="">@item.StatuName</h6>
                                            <small class="mt-1"></small>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @if (Model.M_FILE.Status == 2 || Model.M_FILE.Status >= 6)
                {
                    <div class="col-sm-12">
                        <div class="iq-card" style="min-height:0;">
                            <div class="iq-card-body" style="min-height:0;">
                                @if (Model.M_FILE.Status == 2)
                                {
                                    <div class="row text-center">
                                        <div class="col-sm-7">
                                            @if (Model.M_FILE.RollBackFile == false)
                                            {
                                                <button type="submit" class="btn btn-warning col-md-12" value="rollbackfile" onclick="var x = confirm('Dosya geri çekilecek\nDevam etmek istiyor musunuz ?'); if (x == false) { return false; }" name="button">Geri Çek</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-success col-md-12" value="rollbackfile" onclick="var x = confirm('Dosya tekrar gönderilecek\nDevam etmek istiyor musunuz ?'); if (x == false) { return false; }" name="button">Havuza Gönder</button>
                                            }
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-danger col-md-12" value="iscancel" onclick="var x = confirm('Dosya iptal edilecek\nDevam etmek istiyor musunuz ?'); if (x == false) { return false; }" name="button">İptal Et</button>
                                        </div>
                                    </div>
                                }
                                @if (Model.M_FILE.Status >= 6)
                                {
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-secondary col-md-12" name="button" onclick="window.print()">Yazdır</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-warning col-md-12" onclick="window.location.href = '/Operator/CreatePdf/@Model.M_FILE.Id'">PDF</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-danger col-md-12" onclick="window.history.back(1)">Geri</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="modal fade" id="malzemeListesi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Malzeme Listesi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Birim Fiyatı</th>
                                        <th>UBB/ÜTS Kodu</th>
                                        <th>SUT Kodu</th>
                                        <th>Kullanım Sayısı</th>
                                        <th>Geçerlilik Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.M_MATERIALS)
                                    {
                                        <tr>
                                            <td>@item.MaterialName</td>
                                            <td>@item.UnitPrice</td>
                                            <td>@item.UbbUts</td>
                                            <td>@item.Sut</td>
                                            <td>@item.UseNumber</td>
                                            <td>@Convert.ToDateTime(item.ValidityDate).ToString("dd.MM.yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });

        $("#isfree").change(function () {
            var confirmText;
            if ($(this).is(':checked')) {
                confirmText = "Dosya ücretsiz hale getirilecektir.\nDevam etmek istiyor musunuz ?";
            } else {
                confirmText = "Dosya ücretli hale getirilecektir.\nDevam etmek istiyor musunuz ?";
            }

            if (confirm(confirmText)) {
                $.ajax({
                    type: "Post",
                    url: "/Operator/FileIsFree/" + $(this).val(),
                    success: function (response) {
                        alert(response.alert);

                        if (response.free) {
                            $("#info-message").show();
                        }
                        else {
                            $("#info-message").hide();
                        }
                    }
                });
            }
        });

    });
</script>
