﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Yeni Müşteri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "customer";
    ViewBag.Link = "customernew";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Yeni Müsteri</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <p class="color-red">@Html.Raw(ViewBag.ErrorMessage)</p>
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-2">
                                <label>İş Kolu</label>
                            </div>
                            <div class="col-md-10 checkbox-group required">
                                @foreach (var item in Model.M_SECTORS)
                                {
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input bg-primary" name="@item.InputName" id="@item.TagName" value="@item.Id">
                                        <label class="custom-control-label" for="@item.TagName"> @item.Sector</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                <label for="titlename">Müşteri Ünvan</label>
                                <input type="text" class="form-control" id="titlename" name="titlename" value="@Model.M_CUSTOMER.TitleName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vkn">Vergi No</label>
                                <input type="text" class="form-control only-numeric" id="vkn" name="vkn" value="@Model.M_CUSTOMER.Vkn">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="adress">Adres</label>
                                <input type="text" class="form-control" id="adress" name="adress" value="@Model.M_CUSTOMER.Adress" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="city">Şehir</label>
                                <select class="form-control" id="city" name="city" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_CITYS)
                                    {
                                        if (Model.M_CUSTOMER.City == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.CityName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.CityName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="phone">Telefon</label>
                                <input type="tel" class="form-control only-phone" id="phone" name="phone" value="@Model.M_CUSTOMER.Phone" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">E-Mail</label>
                                <input type="email" class="form-control" id="email" name="email" value="@Model.M_CUSTOMER.Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-9">
                                <label for="priceprotocolcustid">Fiyat Protokol</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="form-control" id="priceprotocolhealthid" name="priceprotocolhealthid">
                                            <option value="">Sağlık Fiyat Protokolu</option>
                                            @foreach (var item in Model.M_PRICEPROTOCOLS.Where(t => t.PriProtSectorId == 2).ToList())
                                            {
                                                if (Model.M_CUSTOMER.PriceProtocolHealthId == item.Id)
                                                {
                                                    <option value="@item.Id" selected>@item.ProtocolName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProtocolName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="priceprotocollawid" name="priceprotocollawid">
                                            <option value="">Hukuk Fiyat Protokolu</option>
                                            @foreach (var item in Model.M_PRICEPROTOCOLS.Where(t => t.PriProtSectorId == 3).ToList())
                                            {
                                                if (Model.M_CUSTOMER.PriceProtocolLawId == item.Id)
                                                {
                                                    <option value="@item.Id" selected>@item.ProtocolName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProtocolName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="priceprotocolinsuranceid" name="priceprotocolinsuranceid">
                                            <option value="">Sigorta Fiyat Protokolu</option>
                                            @foreach (var item in Model.M_PRICEPROTOCOLS.Where(t => t.PriProtSectorId == 4).ToList())
                                            {
                                                if (Model.M_CUSTOMER.PriceProtocolInsuranceId == item.Id)
                                                {
                                                    <option value="@item.Id" selected>@item.ProtocolName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProtocolName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="status">Durum</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="1" @(Model.M_CUSTOMER.Status == 1 ? "selected" : "")>Aktif</option>
                                    <option value="0" @(Model.M_CUSTOMER.Status == 0 ? "selected" : "")>Pasif</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary" id="kaydet">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/Customers'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            if ($("div.checkbox-group.required :checkbox:checked").length == 0) {
                $("div.checkbox-group.required :checkbox").prop("required", true);
            }
            else {
                $("div.checkbox-group.required :checkbox").prop("required", false);
            }
        });
        $('input[type="checkbox"]').click(function () {
            if ($("#health").is(":checked")) {
                $("#priceprotocolhealthid").prop("disabled", false);
                $("#priceprotocolhealthid").prop("required", true);
            }
            else {
                $("#priceprotocolhealthid").prop("disabled", true);
                $("#priceprotocolhealthid").prop("required", false);
                $("#priceprotocolhealthid").prop("selectedIndex", 0);
            }
            if ($("#law").is(":checked")) {
                $("#priceprotocollawid").prop("disabled", false);
                $("#priceprotocollawid").prop("required", true);
            }
            else {
                $("#priceprotocollawid").prop("disabled", true);
                $("#priceprotocollawid").prop("required", false);
                $("#priceprotocollawid").prop("selectedIndex", 0);
            }
            if ($("#insurance").is(":checked")) {
                $("#priceprotocolinsuranceid").prop("disabled", false);
                $("#priceprotocolinsuranceid").prop("required", true);
            }
            else {
                $("#priceprotocolinsuranceid").prop("disabled", true);
                $("#priceprotocolinsuranceid").prop("required", false);
                $("#priceprotocolinsuranceid").prop("selectedIndex", 0);
            }
        });
        $("#priceprotocolhealthid").prop("disabled", true);
        $("#priceprotocollawid").prop("disabled", true);
        $("#priceprotocolinsuranceid").prop("disabled", true);
    });
</script>