﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Yeni Hastane";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "hospital";
    ViewBag.Link = "hospitalnew";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Yeni Hastane</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>*@
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="titlename">Hastane Adı</label>
                                <input type="text" class="form-control" id="titlename" name="titlename" value="@Model.M_HOSPITAL.TitleName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="city">Şehir</label>
                                <select class="form-control" id="city" name="city" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_CITYS)
                                    {
                                        if (Model.M_HOSPITAL.City == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.CityName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.CityName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="phone">Telefon</label>
                                <input type="tel" class="form-control only-phone" id="phone" name="phone" value="@Model.M_HOSPITAL.Phone" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">E-Mail</label>
                                <input type="email" class="form-control" id="email" name="email" value="@Model.M_HOSPITAL.Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="status">Durum</label>
                                <select class="form-control" id="status" name="status" required>
                                    <option value="1" @(Model.M_HOSPITAL.Status == 1 ? "selected" : "")>Aktif</option>
                                    <option value="0" @(Model.M_HOSPITAL.Status == 0 ? "selected" : "")>Pasif</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/Hospitals'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>