﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Yeni Malzeme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "material";
    ViewBag.Link = "materialnew";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Yeni Malzeme</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>*@
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="materialname">Malzeme Adı</label>
                                <input type="text" class="form-control" id="materialname" name="materialname" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="unitprice">Birim Fiyatı</label>
                                <input type="text" class="form-control only-numeric" id="unitprice" name="unitprice" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="usenumber">UBB/ÜTS Kodu</label>
                                <input type="text" class="form-control" id="ubbuts" name="ubbuts" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="validitydate">SUT Kodu</label>
                                <input type="text" class="form-control" id="sut" name="sut" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="usenumber">Kullanım Sayısı</label>
                                <input type="text" class="form-control only-numeric" id="usenumber" name="usenumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="validitydate">Geçerlilik Tarihi</label>
                                <input type="text" class="form-control only-date" id="validitydate" name="validitydate" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status">Durum</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="1">Aktif</option>
                                <option value="0">Pasif</option>
                            </select>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/Materials'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>