﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Üyelik Talebi / Bilgi Alma";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "customer";
    ViewBag.Link = "newuserreq";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Üyelik Talebi / Bilgi Alma</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ad Soyad / Ünvan</th>
                                    <th>Telefon</th>
                                    <th>E-Posta</th>
                                    <th>İletişim Tercihi</th>
                                    <th>Durum</th>
                                    <th>Göster</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_NEW_USER_REQUESTS)
                                {
                                    <tr>
                                        <td>@Html.Raw(item.UserRead == true ? "<i class=\"fa fa-eye\" aria-hidden=\"true\" title=\"Görüldü\"></i>" : "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\" title=\"Görülmedi\"></i>")</td>
                                        <td>@item.Name</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@(item.CommunicationChoice == 1 ? "E-posta" : "Telefon")</td>
                                        <td>@(item.Statu == 1 ? "Bekliyor" : item.Statu == 2 ? "İptal Edildi" : "Tamamlandı")</td>
                                        <td><a href="/Operator/ViewNewUserRequest/@item.Id">Göster</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Ad Soyad / Ünvan</th>
                                    <th>Telefon</th>
                                    <th>E-Posta</th>
                                    <th>İletişim Tercihi</th>
                                    <th>Durum</th>
                                    <th>Göster</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

