﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Yeni Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "user";
    ViewBag.Link = "usernew";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Yeni Kullanıcı</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <p class="color-red">@Html.Raw(ViewBag.ErrorMessage)</p>
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="usertitleid">Ünvan</label>
                                <select class="form-control" id="usertitleid" name="usertitleid" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_TITLES)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="usersectorid">İş Kolu</label>
                                <input type="hidden" name="usersectorid" id="usersectorid" />
                                <select class="form-control" id="usersectoridc" name="usersectoridc" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_SECTORS)
                                    {
                                        <option value="@item.Id">@item.Sector</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Adı Soyadı</label>
                                <input type="text" class="form-control" id="name" name="name" value="@Model.M_USER.Name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="gender">Cinsiyet</label>
                                <select class="form-control" id="gender" name="gender" required>
                                    <option value="">Seçiniz</option>
                                    <option value="0" @(Model.M_USER.Gender == 0 ? "selected" : "")>Kadın</option>
                                    <option value="1" @(Model.M_USER.Gender == 1 ? "selected" : "")>Erkek</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="birthdate">Doğum Tarihi</label>
                                <input type="text" class="form-control only-birth-date" id="birthdate" name="birthdate" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="phone">Telefon</label>
                                <input type="tel" class="form-control only-phone" id="phone" name="phone" value="@Model.M_USER.Phone" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">E-Mail</label>
                                <input type="email" class="form-control" id="email" name="email" value="@Model.M_USER.Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" id="customerid_div">
                                <label for="customerid">Müşteri Adı</label>
                                <select class="form-control" id="customerid" name="customerid" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_CUSTOMERS)
                                    {
                                        if (Model.M_USER.CustomerId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.TitleName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.TitleName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="priceprotocoluserid_div">
                                <label for="priceprotocoluserid">Fiyat Protokol</label>
                                <select class="form-control" id="priceprotocoluserid" name="priceprotocoluserid">
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_PRICEPROTOCOLS)
                                    {
                                        if (Model.M_USER.PriceProtocolUserId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.ProtocolName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.ProtocolName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4" id="branchuserid_div">
                                <label for="branchuserid">Branş Adı</label>
                                <select class="form-control" id="branchuserid" name="branchuserid">
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_BRANCHS)
                                    {
                                        if (Model.M_USER.BranchUserId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.BranchName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 text-center" id="manage_div">
                                <div class="custom-control custom-checkbox custom-control-inline mt-6">
                                    <input type="checkbox" class="custom-control-input bg-primary" name="manage" id="manage" value="true" @(Model.M_USER.Manage == true ? "checked" : "")>
                                    <label class="custom-control-label" for="manage"> Yönetici</label>

                                </div>
                            </div>
                            <div class="form-group col-md-2 text-center">
                                <div class="custom-control custom-checkbox custom-control-inline mt-6">
                                    <input type="checkbox" class="custom-control-input bg-primary" name="customerowner" id="customerowner" value="true" @(Model.M_USER.CustomerOwner == true ? "checked" : "") @(Model.M_USER.UserTitleId == 1 ? "disabled" : "")>
                                    <label class="custom-control-label" for="customerowner"> Paydaş</label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="status">Durum</label>
                                <select class="form-control" id="status" name="status" required>
                                    <option value="1" @(Model.M_USER.Status == 1 ? "selected" : "")>Aktif</option>
                                    <option value="0" @(Model.M_USER.Status == 0 ? "selected" : "")>Pasif</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/Users'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>