﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Fiyat Protokolleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "priceprotocol";
    ViewBag.Link = "priceprotocollist";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Fiyat Protokolleri</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card-header-top mb-1">
                <div class="iq-card-header d-flex justify-content-between">
                    <div style="float:left; width:100%; padding-right:1%;"><a href="/Operator/PriceProtocols" class="btn @(Model.activeBtn == null ? "btn-primary" : "btn-light") btn-block">Hepsi</a></div>
                    @foreach (var item in Model.M_SECTORS)
                    {
                        <div style="float:left; width:100%; padding-right:1%;"><a href="/Operator/PriceProtocols/@item.TagName" class="btn @(Model.activeBtn == item.TagName ? "btn-primary" : "btn-light") btn-block">@item.Sector</a></div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>İş Kolu</th>
                                    <th>Protokol Adı</th>
                                    <th>Hesaplama Tipi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Geçerlilik Tarihi</th>
                                    <th>İncele</th>
                                    <th>Düzelt</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_PRICEPROTOCOLS)
                                {
                                    <tr>
                                        <td>@item.T_SECTOR.Sector</td>
                                        <td>@item.ProtocolName</td>
                                        <td>@item.T_PRICEPROCCALCTYPE.CalcTypeName</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@Convert.ToDateTime(item.ValidityDate).ToString("dd.MM.yyyy")</td>
                                        <td><a href="/Operator/ViewPriceProtocol/@item.Id">İncele</a></td>
                                        @if (item.Status == 0)
                                        {
                                            <td></td>
                                            <td>Silindi</td>
                                        }
                                        else
                                        {
                                            <td><a href="/Operator/EditPriceProtocols/@item.Id">Düzelt</a></td>
                                            <td><a href="/Operator/DeletePriceProtocols/@item.Id" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz ?')">Sil</a></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>İş Kolu</th>
                                    <th>Protokol Adı</th>
                                    <th>Hesaplama Tipi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Geçerlilik Tarihi</th>
                                    <th>İncele</th>
                                    <th>Düzelt</th>
                                    <th>Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

