﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Uzman Hakediş Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "report";
    ViewBag.Link = "reportprogress";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4"><h5>Toplam Hakediş</h5></div>
                            <div class="iq-card-body iq-bg-danger rounded">
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="rounded-circle iq-card-icon bg-danger"><i class="fa fa-money"></i></div>
                                    <div class="text-right">
                                        <h2 class="mb-0"><span>@string.Format("{0:N2}", Model.ProcessPayment) ₺</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4"><h5>Toplam Kapanan Dosya</h5></div>
                            <div class="iq-card-body iq-bg-info rounded">
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="rounded-circle iq-card-icon bg-info"><i class="fa fa-hourglass-end"></i></div>
                                    <div class="text-right">
                                        <h2 class="mb-0"><span>@Model.ClosedFiles</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4"><h5>Memnuniyet Puanınız</h5></div>
                            <div class="iq-card-body iq-bg-primary rounded">
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="rounded-circle iq-card-icon bg-primary"><i class="fa fa-smile-o"></i></div>
                                    <div class="text-right">
                                        <h2 class="mb-0"><span>@Model.Rating</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="progress"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="cumulated"></div>
                        </div>
                    </div>
                    <div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Adı</th>
                                            <th>Dosya Numarası</th>
                                            <th>Kapanış Tarihi</th>
                                            <th>Hakediş</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.M_FILES)
                                        {
                                        <tr>
                                            <td><a href="/Operator/FilesDetails/@item.Id">@item.Id</a></td>
                                            <td>@System.Text.RegularExpressions.Regex.Replace(item.PatientName, @"[a-z,ğ,ç,ş,ü]", m => "*")</td>
                                            <td>@item.InstitutionPatientId</td>
                                            <td>@item.UpdateDate</td>
                                            @if (item.IsFree == false)
                                            {
                                                <td>@item.Price2</td>
                                            }
                                            else
                                            {
                                                <td class="color-red">Ücretsiz</td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Adı</th>
                                            <th>Dosya Numarası</th>
                                            <th>Kapanış Tarihi</th>
                                            <th>Hakediş</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            },
            "ordering": false
        });

        if (jQuery('#progress').length) {
            var options = {
                chart: {
                    height: 300,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },
                colors: ['#089bab'],
                series: [{
                    name: "Aylık Hakediş",
                    data: [@Model.currency1]
                }],
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    text: 'Aylık Toplam Hakediş Grafiği',
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'],
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: [@Html.Raw(Model.month1)],
                }
            }

            var chart = new ApexCharts(
                document.querySelector("#progress"),
                options
            );

            chart.render();
        }

        if (jQuery('#cumulated').length) {
            var options = {
                chart: {
                    height: 300,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },
                colors: ['#089bab'],
                series: [{
                    name: "Kümüle",
                    data: [@Model.currency2]
                }],
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    text: 'Aylık Kümüle Hakediş Grafiği',
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'],
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: [@Html.Raw(Model.month2)],
                }
            }

            var chart = new ApexCharts(
                document.querySelector("#cumulated"),
                options
            );

            chart.render();
        }

    });
</script>
