﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Paydaş Kazanç Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "stakeholders";
    ViewBag.Link = "stakeholders";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Paydaş Kazanç Raporu</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <label for="term">Dönem : </label>
            <input type="month" id="term" name="term" onchange="window.location.href = '/Operator/StakeholdersList/' + document.getElementById('term').value" min="2020-06" value="@Model.term" max="2023-12">
        </div>

        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Paydaş Adı</th>
                                    <th>Müşteri Adı</th>
                                    <th>Pay Oranı</th>
                                    <th>Kazanç</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_CUSTOMER_OWNERS)
                                {
                                    <tr>
                                        <td>@item.T_USER.Name</td>
                                        <td>@item.T_CUSTOMER.TitleName</td>
                                        <td>@item.OwnerRate</td>
                                        <td>@(string.Format("{0:N2}", (double)(item.T_CUSTOMER.T_FILES.Where(t => t.Status == 7 && t.IsFree == false && t.IsCancel == false && (Model.term == null ? 1 == 1 : t.UpdateDate.Value.ToString("yyyy-MM") == Model.term)).Sum(t => t.Price1) - item.T_CUSTOMER.T_FILES.Where(t => t.Status == 7 && t.IsFree == false && t.IsCancel == false && (Model.term == null ? 1 == 1 : t.UpdateDate.Value.ToString("yyyy-MM") == Model.term)).Sum(t => t.Price2)) * item.OwnerRate / 100)) ₺</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Paydaş Adı</th>
                                    <th>Müşteri Adı</th>
                                    <th>Pay Oranı</th>
                                    <th>Kazanç</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

