﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Kulanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "user";
    ViewBag.Link = "userlist";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Kullanıcılar</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="iq-card-header-top mb-1">
                <div class="iq-card-header d-flex justify-content-between">
                    <div style="float:left; width:100%; padding-right:1%;"><a href="/Operator/Users" class="btn @(Model.activeBtn == null ? "btn-primary" : "btn-light") btn-block">Hepsi</a></div>
                    @foreach (var item in Model.M_SECTORS)
                    {
                        <div style="float:left; width:100%; padding-right:1%;"><a href="/Operator/Users/@item.TagName" class="btn @(Model.activeBtn == item.TagName ? "btn-primary" : "btn-light") btn-block">@item.Sector</a></div>
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    @*<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>*@
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Adı Soyadı</th>
                                    <th>Branş</th>
                                    <th>Müşteri</th>
                                    <th>Telefon</th>
                                    <th>E-Mail</th>
                                    <th>İncele</th>
                                    <th>Şifre</th>
                                    <th>Düzelt</th>
                                    <th>Dosya Gönder</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_USERS)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@(item.T_BRANCH != null ? item.T_BRANCH.BranchName : " - ")</td>
                                        <td>@item.T_CUSTOMER.TitleName</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td><a href="/Operator/ViewUser/@item.Id">İncele</a></td>
                                        @if (item.Status == 0)
                                        {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Silindi</td>
                                        }
                                        else
                                        {
                                            <td><a href="/Operator/UserPasswordSender/@item.Id" class="pass">Gönder</a></td>
                                            <td><a href="/Operator/EditUsers/@item.Id">Düzelt</a></td>
                                            <td class="text-center">
                                                @if (item.UserTitleId == 1)
                                                {
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input blocked" name="blocked" id="blocked_@item.Id" idx="@item.Id" ctrl="@Model.Controller" @(item.Blocked == false ? "checked" : "")>
                                                        <label class="custom-control-label blocked-label" for="blocked_@item.Id"></label>
                                                    </div>
                                                }
                                            </td>
                                            <td><a href="/Operator/DeleteUsers/@item.Id" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz ?')">Sil</a></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Adı Soyadı</th>
                                    <th>Branş</th>
                                    <th>Müşteri</th>
                                    <th>Telefon</th>
                                    <th>E-Mail</th>
                                    <th>İncele</th>
                                    <th>Şifre</th>
                                    <th>Düzelt</th>
                                    <th>Dosya Gönder</th>
                                    <th>Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "language": {
                "url": "/Content/json/Turkish.json"
            }
        });
    });
</script>

