﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Müşteri İzleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "customer";
    ViewBag.Link = "customercorrect";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Müşteri İzleme</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <p class="color-red">@Html.Raw(ViewBag.ErrorMessage)</p>
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@Model.M_CUSTOMER.Id" name="id" />
                        <div class="row">
                            <div class="col-md-2">
                                <label>İş Kolu</label>
                            </div>
                            <div class="col-md-10 checkbox-group required">
                                @foreach (var item in Model.M_SECTORS)
                                {
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input bg-primary" name="@item.InputName" id="@item.TagName" value="@item.Id" @(Model.M_CUSTOMER.CustomerSector.IndexOf(item.Id.ToString()) > -1 ? " checked" : "") disabled>
                                        <label class="custom-control-label" for="@item.TagName"> @item.Sector</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                <label for="title">Müşteri Ünvan</label>
                                <input type="text" class="form-control" id="title" name="title" value="@Model.M_CUSTOMER.TitleName" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vkn">Vergi No</label>
                                <input type="text" class="form-control only-numeric" id="vkn" name="vkn" value="@Model.M_CUSTOMER.Vkn" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="adress">Adres</label>
                                <input type="text" class="form-control" id="adress" name="adress" value="@Model.M_CUSTOMER.Adress" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="city">Şehir</label>
                                <select class="form-control" id="city" name="city" disabled>
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_CITYS)
                                    {
                                        if (Model.M_CUSTOMER.City == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.CityName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.CityName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="phone">Telefon</label>
                                <input type="tel" class="form-control only-phone" id="phone" name="phone" value="@Model.M_CUSTOMER.Phone" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">E-Mail</label>
                                <input type="email" class="form-control" id="email" name="email" value="@Model.M_CUSTOMER.Email" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-9">
                                <label for="priceprotocolcustid">Fiyat Protokol</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="form-control" id="priceprotocolhealthid" name="priceprotocolhealthid" disabled>
                                            <option value="">Sağlık Fiyat Protokolu</option>
                                            @foreach (var item in Model.M_PRICEPROTOCOLS.Where(t => t.PriProtSectorId == 2).ToList())
                                            {
                                                if (Model.M_CUSTOMER.PriceProtocolHealthId == item.Id)
                                                {
                                                    <option value="@item.Id" selected>@item.ProtocolName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProtocolName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="priceprotocollawid" name="priceprotocollawid" disabled>
                                            <option value="">Hukuk Fiyat Protokolu</option>
                                            @foreach (var item in Model.M_PRICEPROTOCOLS.Where(t => t.PriProtSectorId == 3).ToList())
                                            {
                                                if (Model.M_CUSTOMER.PriceProtocolLawId == item.Id)
                                                {
                                                    <option value="@item.Id" selected>@item.ProtocolName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProtocolName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="priceprotocolinsuranceid" name="priceprotocolinsuranceid" disabled>
                                            <option value="">Sigorta Fiyat Protokolu</option>
                                            @foreach (var item in Model.M_PRICEPROTOCOLS.Where(t => t.PriProtSectorId == 4).ToList())
                                            {
                                                if (Model.M_CUSTOMER.PriceProtocolInsuranceId == item.Id)
                                                {
                                                    <option value="@item.Id" selected>@item.ProtocolName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProtocolName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group col-md-3">
                                    <label for="status">Durum</label>
                                    <select class="form-control" id="status" name="status" disabled>
                                        <option value="1" @(Model.M_CUSTOMER.Status == 1 ? "selected" : "")>Aktif</option>
                                        <option value="0" @(Model.M_CUSTOMER.Status == 0 ? "selected" : "")>Pasif</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                               
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/Customers'" class="btn btn-primary">Geri</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  