﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Üyelik Talebi / Bilgi Alma";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "customer";
    ViewBag.Link = "newuserreq";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Üyelik Talebi / Bilgi Alma</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <form class="needs-validation" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Model.M_NEW_USER_REQUEST.Id" />
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name">Ad Soyad / Ünvan</label>
                                <div>@Model.M_NEW_USER_REQUEST.Name</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="phone">Telefon</label>
                                <div>@Model.M_NEW_USER_REQUEST.Phone</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">E-Posta</label>
                                <div>@Model.M_NEW_USER_REQUEST.Email</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="communicationchoice">İletişim Tercihi</label>
                                <div>@(Model.M_NEW_USER_REQUEST.CommunicationChoice == 1 ? "Telefon"  : "Mail")</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sector">İlgilenilen Sektör</label>
                                @foreach (var item in Model.M_SECTORS)
                                {
                                    <br />
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input bg-primary" name="@item.InputName" id="@item.TagName" value="@item.Id" @(Model.M_NEW_USER_REQUEST.NewUserSector.IndexOf(item.Id.ToString()) > -1 ? " checked" : "")>
                                        <label class="custom-control-label" for="@item.TagName"> @item.Sector</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="statu">Statu</label>
                                <select class="form-control" id="statu" name="statu">
                                    <option value="">Seçiniz</option>
                                    @for (int i = 0; i < Model.M_SIGNSTATUS.Rows.Count; i++)
                                    {
                                        if (Model.M_NEW_USER_REQUEST.Statu.ToString() == Model.M_SIGNSTATUS.Rows[i][0].ToString())
                                        {
                                            <option value="@Model.M_SIGNSTATUS.Rows[i][0].ToString()" selected>@Model.M_SIGNSTATUS.Rows[i][2].ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.M_SIGNSTATUS.Rows[i][0].ToString()">@Model.M_SIGNSTATUS.Rows[i][2].ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="operationcomment">Operasyoncu Açıklaması</label>
                                <div>
                                    <textarea class="form-control" name="operationcomment" id="operationcomment">@Model.M_NEW_USER_REQUEST.OperationComment</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Operator/NewUserRequest'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>