﻿@model IkinciGorus.Models._Model
@{
    ViewBag.Title = "| Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "expert";
    ViewBag.Link = "dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Bekleyen Dosyalar</h4>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.M_FILES)
        {
            <div class="col-sm-6 col-md-3" data-toggle="tooltip" title="@item.T_STATUS.StatuName">
                <div class="iq-card">
                    <div class="iq-card-body text-center">
                        @if (item.FileWaiting == false)
                        {
                            <i class="fa fa-file-text statu" aria-hidden="true" title="Yeni Dosya"></i>
                        }
                        else
                        {
                            <i class="fa fa-floppy-o statu" aria-hidden="true" title="Dosya Kaydedilmiş"></i>
                        }
                        <div class="doc-profile">
                            <img class="rounded-circle img-fluid" src="~/Content/images/process/@(item.T_STATUS.StatuCode).png">
                        </div>
                        <div class="iq-doc-info mt-3 mb-3">
                            <h4>@item.Id</h4>
                            <p class="mb-0">@item.T_BRANCH.BranchName</p>
                            <p class="mb-0">@Convert.ToDateTime(item.CreateDate).ToString("dd MMMM yyyy")</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="countdown">
                                    <li class="count">
                                        <span class="days_@item.Id">00</span>
                                        <p class="days_ref">Gn</p>
                                    </li>
                                    <li class="count">
                                        <span class="hours_@item.Id">00</span>
                                        <p class="hours_ref">Sa</p>
                                    </li>
                                    <li class="count">
                                        <span class="minutes_@item.Id">00</span>
                                        <p class="minutes_ref">Dk</p>
                                    </li>
                                    <li class="count">
                                        <span class="seconds_@item.Id">00</span>
                                        <p class="seconds_ref">Sn</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="/Expert/EditFiles/@item.Id" class="btn btn-primary">Dosya Detay</a>
                    </div>
                </div>
            </div>
            <script>setInterval(function () { $.fn.makeTimer(new Date("@Convert.ToDateTime(item.UpdateDate).AddDays(Model.RejectDay).ToString("M/d/yyyy HH:mm:ss") GMT+01:00"), @item.Id) }, 1000);</script>
        }
        @if (Model.M_FILES.Count == 0)
        {
            <div class="col-sm-12">
                <div class="iq-card-header-top">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title col-sm-12">
                            <h6 class="card-title text-center color-red">Bekleyen dosyanız bulunmamaktadır.</h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

