﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "user";
    ViewBag.Link = "usercorrect";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Profilimi Güncelle</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <p class="color-red">@Html.Raw(ViewBag.ErrorMessage)</p>
                    <form class="needs-validation" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">Adı Soyadı</label>
                                <input type="text" class="form-control" id="name" name="name" value="@Model.M_USER.Name" autocomplete="off" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="gender">Cinsiyet</label>
                                <select class="form-control" id="gender" name="gender" autocomplete="off" required>
                                    <option value="">Seçiniz</option>
                                    <option value="0" @(Model.M_USER.Gender == 0 ? "selected" : "")>Kadın</option>
                                    <option value="1" @(Model.M_USER.Gender == 1 ? "selected" : "")>Erkek</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="birthdate">Doğum Tarihi</label>
                                <input type="text" class="form-control only-birth-date" id="birthdate" name="birthdate" value='@Convert.ToDateTime(Model.M_USER.BirthDate).ToString("dd.MM.yyyy")' autocomplete="off" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="phone">Telefon</label>
                                <input type="tel" class="form-control only-phone" id="phone" name="phone" value="@Model.M_USER.Phone" autocomplete="off" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="branchuserid">Branş Adı</label>
                                <select class="form-control" name="branchuserid">
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in Model.M_BRANCHS)
                                    {
                                        if (Model.M_USER.BranchUserId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.BranchName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" onclick="window.location.href = '/Expert/Dashboard'" class="btn btn-danger">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>