﻿@model IkinciGorus.Models._Model

@{
    ViewBag.Title = "| Dosya Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "expert";
    ViewBag.Link = "dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="col-sm-12">
                <div class="iq-card-header-top">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">@Model.M_FILE.Id Nolu Dosya Detayı</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="col-sm-12">
                            <div class="col-md-12 p-0">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Talep Tutarı: </label>
                                        <span id="demandamount_span">@string.Format("{0:N2}", Model.M_FILE.DemandAmount) ₺</span>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>Dosya Açıklaması: </label><br />
                                        <span id="filedescription_span">@Html.Raw(Model.M_FILE.FileDescription.Replace("\r\n", "<br>"))</span>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>Gönderilecek Dosyalar: </label><br />
                                        <span id="contents_span">
                                            @foreach (var item in Model.M_DOCUMENTS)
                                            {
                                                <a href="/Expert/DownloadFile/@item.Id">@item.ContentName</a><br />
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="col-sm-12">
                <div class="iq-card-header-top">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Görüş</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <form class="needs-validation" method="post" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="col-sm-12">
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <textarea class="form-control" style="line-height:20px; height:280px;" name="doctordescription" id="doctordescription" required="required">@Model.M_FILE.DoctorDescription</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-4">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary" name="button" value="record">Kaydet & Kapat</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-success" name="button" value="sender"  onclick="return confirm('Dosyayı gönderilecek.\nDevam etmek istiyor musunuz ?')">Kaydet & Gönder</button>
                        </div>
                        <div class="col-md-4 text-right">
                            <button type="button" onclick="window.location.href = '/Expert/Dashboard'" class="btn btn-danger">İptal</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>