﻿@model IkinciGorus.Models._Model
@{
    ViewBag.Title = "| Dosya Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "expert";
    ViewBag.Link = "filesclosed";
}

<div class="container-fluid">
    <form class="needs-validation" method="post" id="detail-form" novalidate>
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <div class="iq-card-header-top">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title col-md-12">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h4 class="card-title" style="padding-top: 5px;">@Model.M_FILE.Id Nolu Dosya Detayı</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="col-sm-12">
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[4].ItemArray[1]: </label>
                                            <span id="patientname_span">****** ******</span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[5].ItemArray[1]: </label>
                                            <span id="institutionpatientid_span">@Model.M_FILE.InstitutionPatientId</span>
                                        </div>
                                        @if (Model.SectorId == 2)
                                        {
                                            <div class="form-group col-md-6">
                                                <label>@Model.M_SECTORLABEL.Rows[6].ItemArray[1]: </label>
                                                <span id="hospitalid_span">@Model.M_FILE.T_HOSPITAL.TitleName</span>
                                            </div>
                                        }
                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[7].ItemArray[1]: </label>
                                            <span id="branchfileid_span">@Model.M_FILE.T_BRANCH.BranchName</span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[8].ItemArray[1]: </label>
                                            <span id="demandamount_span">@string.Format("{0:N2}", Model.M_FILE.DemandAmount) ₺</span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>@Model.M_SECTORLABEL.Rows[11].ItemArray[1]: </label>
                                            <span id="filecargo_span">@(Model.M_FILE.FileCargo == true ? "Var" : "Yok")</span>
                                        </div>

                                        @if (Model.M_FILE.FileCargo == true)
                                        {
                                            <div class="form-group col-md-12 file-warn">
                                                <label>@Model.M_SECTORLABEL.Rows[13].ItemArray[1]: </label>
                                                <p><span id="fileupload_span"><a href="@Model.M_FILE.FileUpload" target="_blank">@Model.M_FILE.FileUpload</a></span></p>
                                            </div>
                                        }

                                        <div class="form-group col-md-12">
                                            <label>@Model.M_SECTORLABEL.Rows[9].ItemArray[1]: </label><br />
                                            <span id="filedescription_span">@Html.Raw(Model.M_FILE.FileDescription.Replace("\r\n", "<br>"))</span>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label>@Model.M_SECTORLABEL.Rows[10].ItemArray[1]: </label><br />
                                            <span id="contents_span">
                                                @foreach (var item in Model.M_DOCUMENTS)
                                                {
                                                    <a href="/Expert/DownloadFile/@item.Id">@item.ContentName</a><br />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="iq-card" style="min-height: 0px;">
                        <div class="iq-card-body" style="min-height: 30px; padding-bottom: 5px;">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="color-red">Değerlendirilen Tutar: </label><br />
                                    <span id="evaluatedamount_span">@string.Format("{0:N2}", Model.M_FILE.EvaluatedAmount) ₺</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>@Model.M_SECTORLABEL.Rows[12].ItemArray[1]: </label><br />
                                    <span id="filedescription_span">@Html.Raw(Model.M_FILE.DoctorDescription != null ? Model.M_FILE.DoctorDescription.Replace("\r\n", "<br>") : Model.M_FILE.DoctorDescription)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Dosya Değerlendirmesi : </label><br />
                                    <div class="rating" style="height:32px; width:285px;">
                                        @for (int i = 10; i > 0; i--)
                                        {
                                            if (Model.M_FILE.Rating == i)
                                            {
                                                <input type="radio" name="rating" value="@i" checked disabled><label style="margin-bottom:0; height:30px">@i</label>
                                            }
                                            else
                                            {
                                                <input type="radio" name="rating" value="@i" disabled><label style="margin-bottom:0; height:30px">@i</label>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-md-12 pt-2 border-top">
                                    <span>@Html.Raw(Model.M_FILE.RatingDescription == null ? Model.M_FILE.RatingDescription : Model.M_FILE.RatingDescription.Replace("\r\n", "<br>").Replace("\n\r", "<br>"))</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="col-sm-12">
                    <div class="iq-card-header-top">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Döküman Tarihçesi</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <ul class="iq-timeline">
                                @foreach (var item in Model.M_STATUS)
                                {
                                    <li>
                                        @if (Model.M_FILE.T_STATUS.StatuCode >= item.StatuCode)
                                        {
                                            <div class="timeline-dots border-success"></div>
                                            <h6 class="">@item.StatuName</h6>
                                            <small class="mt-1"></small>
                                        }
                                        else
                                        {
                                            <div class="timeline-dots border-danger"></div>
                                            <h6 class="">@item.StatuName</h6>
                                            <small class="mt-1"></small>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="row mt-12">
                                <div class="col-md-12 pt-4">
                                    <button type="button" class="btn btn-danger col-md-12" onclick="window.history.back(1)">Geri</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

