﻿@model IkinciGorus.Models._Model

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="col-md-12">
            <thead>
                <tr><td>Memnuniyet Grafiği</td><td class="text-center">Kapanan Dosya Sayısı</td><td class="text-center">Aldığınız Ortalama Puan</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="col-md-12 rating-row" style="width:330px; height: 45px;">
                            <div class="rating" style="height:32px">
                                @for (int i = 10; i > 0; i--)
                                {
                                    if (Model.StatsRound == i)
                                    {
                                        <input type="radio" name="rating" value="@i" checked disabled><label style="margin-bottom:0; height:30px">@i</label>
                                    }
                                    else
                                    {
                                        <input type="radio" name="rating" value="@i" disabled><label style="margin-bottom:0; height:30px">@i</label>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                    <td class="text-center font-size-18">@(Model.M_USER_STAT == null ? 0 : Model.M_USER_STAT.ClosedFileCount)</td>
                    <td class="text-center font-size-18">@Model.StatsRound</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
