﻿@model IkinciGorus.Models._Model

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İkinci Göz | Paydaş Kazanç Raporu</title>
    <link rel="shortcut icon" href="/content/images/favicon.png" />
    @Styles.Render("~/Content/css")
    <script src="/content/js/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170153832-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170153832-2');
    </script>
</head>
<body>
    <div class="container-fluid p-3">
        <div class="col-sm-12">
            <div class="iq-card-header-top">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Paydaş Kazanç Raporu (@Model.CurrName)</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">

            <label for="term">Dönem : </label>
            <input type="month" id="term" name="term" onchange="window.location.href = '/Stakeholders/Index/' + document.getElementById('term').value" min="2020-06" value="@Model.term" max="2023-12">
            <a href="/Stakeholders/Index">Hepsini Göster</a>
        </div>

        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Müşteri Adı</th>
                                    <th>Pay Oranı</th>
                                    <th>Kazanç</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_CUSTOMER_OWNERS)
                                {
                                    <tr>
                                        <td>@item.T_CUSTOMER.TitleName</td>
                                        <td>@item.OwnerRate</td>
                                        <td>@(string.Format("{0:N2}", (double)(item.T_CUSTOMER.T_FILES.Where(t => t.Status == 7 && t.IsFree == false && t.IsCancel == false && (Model.term == null ? 1 == 1 : t.UpdateDate.Value.ToString("yyyy-MM") == Model.term)).Sum(t => t.Price1) - item.T_CUSTOMER.T_FILES.Where(t => t.Status == 7 && t.IsFree == false && t.IsCancel == false && (Model.term == null ? 1 == 1 : t.UpdateDate.Value.ToString("yyyy-MM") == Model.term)).Sum(t => t.Price2)) * item.OwnerRate / 100)) ₺</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Müşteri Adı</th>
                                    <th>Pay Oranı</th>
                                    <th>Kazanç</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "url": "/Content/json/Turkish.json"
                },
                "pageLength": 50
            });
        });
    </script>

    @Scripts.Render("~/Content/js")
</body>
</html>
